/*登录注册表单==begin====*/

#modal-12 {
  text-align: center;
  h3{
    color: #ff6056;
    width:3em;
    height:3em;
    border:solid 1px #c0392b;
    border-radius: 50%;
    text-align: center;
    line-height: 3em;
    margin:2em auto;

  }
  p{
    color: #c0392b;
  }
  form {
    input:not(:last-child){
      font-size: 1.2rem;
      height:2em;
      width:20em;
      border-top:transparent;
      border-left:transparent;
      border-right:transparent;
      border-bottom-color: #555;
      border-bottom-width: 1px;
      margin-bottom: 0.8em;
      outline: none;
    }
    input[type=submit] {
      border: none;
      width:4em;
      height:2em;
      line-height: 2em;
      background: #c0392b;
      color: #fff;
      font-size: 1em;
      letter-spacing: 1px;
      cursor: pointer;
      display: inline-block;
      border-radius: 2px;
      &:after{
        content: '';
      }
    }
  }
  a{
    color: cadetblue;
    display: block;
    font-size: 0.8rem;
    width:4em;
    &:hover{
      border-bottom: solid 1px cadetblue;
    }
    cursor: pointer;
  }
  .md-close{
    position: absolute;
    top:0;
    right:0;
    color:#444;
    cursor: pointer;
  }
}

/*登录注册表单===end====*/