<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel='stylesheet' href="/stylesheets/addCard.css"/>

    <%- include layoutCss.html%>
    <script src="/javascripts/model/modernizr.custom.js"></script>
</head>
<body>

<%-include nav.html%>

<div class="main" id="addCard">
    <form action='javascript:;' id="add-frm">
        <section id="add-carousel">
            <label for="add-carousel">
                <div class="carousel1">
                    <img src="/icon/upload-img.png" alt="">
                </div>
                <div class="carousel2">
                    <h2>设置封面图片</h2><br>
                    <small>——建议选择横图</small>
                </div>
            </label>
            <div class="add-title">
                <input type="text" placeholder="填写卡片标题" name="title">
            </div>
            <input type="file" name="facePic" id="facePic">
        </section>
        <section id="add-card-detail">

            <div class="add-canCut">
                <label for="add-canCut">
                    是否可以砍价：
                </label>
                <input type="checkbox" id="add-canCut" name="canCut" value="1" >
            </div>
            <div class="add-price">
                <label for="add-canCut">
                    价格（次）：
                </label>
                <input type="number" id="add-price" name="price" required>
            </div>

            <div class="add-about">
                【关于我】<br>
                <textarea name="about" id="add-about" rows="6" required></textarea>
            </div>
            <div class="add-project">
                【项目介绍】
                <textarea name="play" id="add-project" rows="6" required></textarea>
            </div>
            <div class="add-time">
                【关于时间】
                <textarea name="appointTime" id="add-time" rows="6" required></textarea>
            </div>
            <div class="about-price">
                【费用包含】
                <textarea name="aboutPrice" id="about-price" rows="6" required></textarea>
            </div>
            <div class="add-other">
                【其他】
                <textarea name="other" id="add-other" rows="6"></textarea>
            </div>
            <div class="add-photo">
                <label for="photos">【相关图片】（4~6张）</label><br>
                <div class="upload-box" id="show-photos">
                    <img src="/icon/upload-img.png" alt="">
                    <input type="file" name="photos" id="photos" multiple>
                </div>
            </div>
        </section>
        <button class="btn btn-default" id="btn-addCard" onclick="uploadFile()">提交</button>
        <span id="add-tip"></span>
    </form>
    <aside>
        卡片目录————
        <ul>
            <li><a href="#add-carousel">顶部轮播图</a></li>
            <li><a href="">关于我</a></li>
            <li><a href="">关于项目</a></li>
            <li><a href="">关于时间</a></li>
            <li><a href="">价格包含</a></li>
            <li><a href="">其他</a></li>
        </ul>
    </aside>
</div>
    <!--添加消息提醒的模态框-->

    <div class="md-modal md-effect-7" id="modal-7">
        <div class="md-content">
            <h3 id="modal-tip">错误提示</h3>
            <div>
                <p id="face-tip-msg"></p>
                <button class="md-close">关闭</button>
            </div>
        </div>
    </div>
    <!--触发div-->
    <button class="md-trigger" data-modal="modal-7" id="face-tip" style="opacity: 0">modal</button>

    <div class="md-overlay"></div>
<!--模态框  end-->
<%-include js.html%>

<script src="/javascripts/addCard.js"></script>
<!-- classie.js by @desandro: https://github.com/desandro/classie -->
<script src="/javascripts/model/classie.js"></script>
<script src="/javascripts/model/modalEffects.js"></script>

<!-- for the blur effect -->
<!-- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill -->
<!--<script>-->
    <!--// this is important for IEs-->
    <!--var polyfilter_scriptpath = '/javascripts/model/';-->
<!--</script>-->
<script src="/javascripts/model/cssParser.js"></script>
<!--<script src="/javascripts/model/css-filters-polyfill.js"></script>-->
</body>

</html>