<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <%- include layoutCss.html%>
    <link rel='stylesheet' href="/stylesheets/cardDetail.css"/>
    <link rel='stylesheet' href="/stylesheets/order.css"/>

    <style type="text/css">
        .icon {
            /* 通过设置 font-size 来改变图标大小 */
            font-size: 1em;
            width: 2em; height: 2em;
            /* 图标和文字相邻时，垂直对齐 */
            vertical-align: -0.15em;
            /* 通过设置 color 来改变 SVG 的颜色/fill */
            fill: currentColor;
            /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
               normalize.css 中也包含这行 */
            overflow: hidden;
        }

    </style>
</head>
<body>
<%-include nav.html%>
<div class="main" id="card">
    <article>
        <div id="card-header">
            <h1><%=card.Title%></h1>
            <div class="tip">
                <div class="place"><i></i><%=card.Addr%></div>
                <div class="price">￥ <big><%=card.Price%></big> 元/次</div>
                <div class="rented"><%=ordernum%>人租过</div>
                <div class="remark"><%=msgs.length%>条留言</div>
                <div class="save">
                    <button onclick="save('<%=card.Uid%>')">
                        <%
                        let url="/icon/save.png"
                        console.log(save)
                        if(save){
                          url="/icon/saved.png"
                        }%>
                        <img src="<%=url%>" alt="" id="save-img">
                        喜欢 <span id="save-num"><%=savenum%></span></button>
                </div>
                <div class="rent">
                    <button onclick="orderDiolog('<%=card.Face%>','<%=card.Title%>','<%=card.Addr%>','<%=card.Price%>','<%=card.Uid%>')">
                        租ta
                    </button>
                </div>
            </div>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide ">
                    <%
                    let photos=card.Photos.split(',');
                    %>
                    <img src=<%=photos[0]%> alt="" class="swiper-lazy">
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="swiper-slide ">
                    <img src=<%=photos[1]%> alt="" class="swiper-lazy">
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="swiper-slide ">
                    <img src=<%=photos[2]%> alt="" class="swiper-lazy">
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <!-- 如果需要滚动条 -->
            <div class="swiper-scrollbar"></div>
        </div>
        <section id="card-detail">
            <div class="card-nav">
               <ul>
                   <li><a href="#about">关于我</a></li>
                   <li><a href="#project">关于项目</a></li>
                   <li><a href="#appointTime">关于时间</a></li>
                   <li><a href="#aboutPrice">费用包含</a></li>
                   <li><a href="#aboutOther">其他</a></li>
               </ul>
            </div>
            <p class="project" id="about">
                【关于我】
                <%= card.About %>
            </p>
            <img src=<%=photos[3]%> alt="">
            <p class="project" id="project">
                【关于项目】
                <%= card.Play %>
            </p>
            <%
            if(photos.length>4){
            %>
            <img src=<%=photos[4]%> alt="">
            <%}%>
            <p class="project" id="appointTime">
                【关于时间】
                <%= card.AppointTime %>
            </p>
            <%
            if(photos.length>5){
            %>
            <img src=<%=photos[5]%> alt="">
            <%}%>
            <p class="project" id="aboutPrice">
                【费用包含】
                <%= card.AboutPrice %>
            </p>
            <p id="aboutOther">
                【其他】<%= card.Other %>
            </p>
            <div class="comment">
                <div class="comment-top">
                    <h3>留言板</h3>
                </div>
                <div class="div-form">
                    <form action="#" id="frm-commen">
                        <div></div>
                        <input type="text" name="text">
                    </form>
                    <a href="javascript:;" class="btn submit" id="btn-comment" onclick="comment('<%=card.Uid%>')" style="float: right;">给Ta留言</a>
                </div>
                <div id="commen">
                    <%for(let i=0;i< msgs.length;i++){%>
                    <div class="comment-main">
                        <div class="comment-hd">
                            <a target="_blank" href="/">
                                <img alt="<%=msgs[i].Name%>" src="<%=msgs[i].HeadPic%>">
                            </a>
                        </div>
                        <div class="comment-text" >
                            <strong><%=msgs[i].Name%>:</strong>
                            <%=msgs[i].Text%>
                            <div class="time"><%=msgs[i].Time%></div>
                            <%if(reps.length>0){
                                reps.map(function(rep){
                                    if(rep.Mid==msgs[i].Mid){
                            %>
                            <div class="reply">
                                <strong><%=rep.Name%>:</strong>
                                <%=rep.Reply%>
                                <div class="time"><%=rep.Time%></div>
                            </div>
                            <%}})
                            }%>
                        </div>
                    </div>
                    <%}%>
                </div>
            </div>
        </section>
    </article>
    <aside>
        <div class="header">
            <img src="<%=card.HeadPic%>" alt="" onclick="location.href='/ta?tid=<%=card.Uid%>'">
            <div class="name"><%= card.Name %></div>
            <p class="wow  pulse">
                <cite>&ldquo;<%= card.Intro%>&rdquo;</cite>
            </p>
            <div class="resume">
                <span><%= card.Job %></span>
                <span>射手座</span><br>
                <span><%= card.Age %>岁</span>
                <span>180cm</span>
            </div>
            <ul class="rent-info">
                <li>可否砍价或者倒贴：<%= card.CanCut %></li>
                <li>微信认证暗号：<%= card.Anhao %></li>
                <li>卫星号：租ta，通过认证后可见</li>
            </ul>
        </div>
        <div class="card-list">
            <ul>
                <%
                    let icons=['keche','xiaoqiche','tianxiandaba','huoche','zihangche','xiaomotuochexiaodianche','gaotie','xiaoche','dabaxiaoba','fanchuan','feiji','xiaohuoche','bashi','reqiqiu','watuji','lunchuanyoulun','zhishengji','chanhuoji','huolun','bashidaba'];
                    icons.map((item)=>{
                %>
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-<%=item%>"></use>
                    </svg>
                </li>
                <%
                })
                %>

            </ul>
        </div>
    </aside>
</div>

<!--租Tadiv-->
<div class="btn-order" onclick="orderDiolog('<%=card.Face%>','<%=card.Title%>','<%=card.Addr%>','<%=card.Price%>','<%=card.Uid%>')">
    <svg class="icon" aria-hidden="true">
           <use xlink:href="#icon-reqiqiu"></use>
    </svg>
    <img src="/icon/zuta.png" alt="">
</div>

</body>
<%-include js.html%>

<script src="/javascripts/card.js"></script>

<script>

</script>
</html>