<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel='stylesheet' href="/stylesheets/cardDetail.css"/>
    <%- include layoutCss.html%>

    <style type="text/css">
        .icon {
            /* 通过设置 font-size 来改变图标大小 */
            font-size: 1em;
            width: 2em; height: 2em;
            /* 图标和文字相邻时，垂直对齐 */
            vertical-align: -0.15em;
            /* 通过设置 color 来改变 SVG 的颜色/fill */
            fill: currentColor;
            /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
               normalize.css 中也包含这行 */
            overflow: hidden;
        }

    </style>
</head>
<body>
<%-include nav.html%>
<div class="main" id="card">
    <article>
        <div id="card-header">
            <h1><%=card.Title%></h1>
            <div class="tip">
                <div class="place"><%=card.Addr%></div>
                <div class="price">￥ <big><%=card.Price%></big> 元/次</div>
                <div class="rented">2人租过</div>
                <div class="remark"><%= msg.length %>条留言</div>
                <div class="save">
                    <button onclick="save()">
                        <img src="/icon/save.png" alt="" id="save-img">
                        喜欢3</button>
                </div>
                <div class="rent">
                    <button>
                        租ta
                    </button>
                </div>
            </div>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide ">
                    <%
                    let photos=card.Photos.split(',');
                    %>
                    <img src=<%=photos[0]%> alt="" class="swiper-lazy">
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="swiper-slide ">
                    <img src=<%=photos[1]%> alt="" class="swiper-lazy">
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="swiper-slide ">
                    <img src=<%=photos[2]%> alt="" class="swiper-lazy">
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <!-- 如果需要滚动条 -->
            <div class="swiper-scrollbar"></div>
        </div>
        <section id="card-detail">
            <div class="card-nav">
               <ul>
                   <li>关于我</li>
                   <li>关于项目</li>
                   <li>关于时间</li>
                   <li>项目包含</li>
                   <li>其他</li>
               </ul>
            </div>
            <p class="project">
                【关于我】
                <%= card.About %>
            </p>
            <img src=<%=photos[3]%> alt="">
            <p class="project">
                【关于项目】
                <%= card.Play %>
            </p>
            <%
            if(photos.length>4){
            %>
            <img src=<%=photos[4]%> alt="">
            <%}%>
            <p class="project">
                【关于时间】
                <%= card.AppointTime %>
            </p>
            <%
            if(photos.length>5){
            %>
            <img src=<%=photos[5]%> alt="">
            <%}%>
            <p class="project">
                【费用包含】
                <%= card.AboutPrice %>
            </p>
            <p>
                【其他】<%= card.Other %>
            </p>
        </section>
    </article>
    <aside>
        <div class="header">
            <img src="/images/renwen.jpg" alt="">
            <div class="name"><%= card.Nickname %></div>
            <p class=" wow  pulse">
                <cite>&ldquo;如果心无处可栖，到哪都是流浪。&rdquo;</cite>
            </p>
            <div class="resume">
                <span><%= card.Job %></span>
                <span>射手座</span><br>
                <span><%= card.Age %>岁</span>
                <span>180cm</span>
            </div>
            <ul class="rent-info">
                <li>可否砍价或者倒贴：<%= card.CanCut %></li>
                <li>微信认证暗号：<%= card.Anhao %></li>
                <li>卫星号：租ta，通过认证后可见</li>
            </ul>
        </div>
        <div class="card-list">
            <ul>
                <%
                    let icons=['keche','xiaoqiche','tianxiandaba','huoche','zihangche','xiaomotuochexiaodianche','gaotie','xiaoche','dabaxiaoba','fanchuan','feiji','xiaohuoche','bashi','reqiqiu','watuji','lunchuanyoulun','zhishengji','chanhuoji','huolun','bashidaba'];
                    icons.map((item)=>{
                %>
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-<%=item%>"></use>
                    </svg>
                </li>
                <%
                })
                %>

            </ul>
        </div>
    </aside>
</div>
</body>
<%-include js.html%>
<script>
    var mySwiper = new Swiper ('.swiper-container', {
        direction: 'vertical',
        loop: true,
        autoplay: 5000,
        mousewheelControl : true,
        lazyLoading : true,
        lazyLoadingInPrevNext : true,
        // 如果需要滚动条
        scrollbar: '.swiper-scrollbar',
    })
</script>
<script src="/javascripts/card.js"></script>
<!--多彩图标-->
<script src="/javascripts/iconfont.js"></script>

</html>