<!DOCTYPE html>
<html>
<head>
    <title>lvren</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <%- include layoutCss.html%>
    <style type="text/css">
        .icon {
            /* 通过设置 font-size 来改变图标大小 */
            font-size: 1em;
            width: 2em; height: 2em;
            /* 图标和文字相邻时，垂直对齐 */
            vertical-align: -0.15em;
            /* 通过设置 color 来改变 SVG 的颜色/fill */
            fill: currentColor;
            /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
               normalize.css 中也包含这行 */
            overflow: hidden;
        }

    </style>
</head>
<body>
<%- include nav.html%>
<!--todo:上传七牛404图片-->
<div class="main">
    <div class="carousel">
        <div class="swiper-container gallery-top" id="carousel">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img data-src="/images/slide1.jpg" alt="" class="swiper-lazy">
                    <div class="swiper-lazy-preloader"></div>
            <span class="ani" swiper-animate-effect="bounceInRight" swiper-animate-duration="1s"
                  swiper-animate-delay="0.1s">
                logo
            </span>
            <span class="ani text" swiper-animate-effect="bounceInRight" swiper-animate-duration="2s"
                  swiper-animate-delay="0.2s">
                把我租给你，还有我在这个城市的秘密
                把我租给你，还有我在这个城市的秘密
                把我租给你，还有我在这个城市的秘密
                把我租给你，还有我在这个城市的秘密
            </span>
                </div>
                <div class="swiper-slide ">
                    <img data-src="/images/slide2.jpg" alt="" class="swiper-lazy">
                    <div class="swiper-lazy-preloader"></div>
            <span class="ani" swiper-animate-effect="bounceInLeft" swiper-animate-duration="2s"
                  swiper-animate-delay="0.1s">
                <!--飞机-->
                <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-feiji"></use>
                    </svg>
            </span>
                </div>
                <div class="swiper-slide ">
                    <img data-src="/images/slide3.jpg" alt="" class="swiper-lazy">
                    <div class="swiper-lazy-preloader"></div>
            <span class="ani" swiper-animate-effect="bounceInLeft" swiper-animate-duration="2s"
                  swiper-animate-delay="0.1s">
                333333
            </span>
                </div>

            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
            <!--&lt;!&ndash;&lt;!&ndash; 如果需要导航按钮 &ndash;&gt;&ndash;&gt;-->
            <div class="swiper-button-prev  swiper-button-white"></div>
            <div class="swiper-button-next  swiper-button-white"></div>
        </div>

    </div>

    <!--分类-->
    <div class="type">
        <div class="title">
            <div class="wow bounceInLeft title-big">主题精选</div>
            <p class="wow bounce small-sentence">&ldquo;不同的旅人不同的玩法，选一个你喜欢的。&rdquo; <cite class="author">
                <!--&mdash;--> </cite>
            </p>
            <div class="title-tip" onclick="location.href='/card/more/?index=1'">全部</div>
        </div>
        <div class="main">
            <div class="main-row">
                <div class="part" onclick="location.href='/card/more?index=1&sort=0'">
                    <img src="/images/ziran.jpg" alt="">
                    <p>自然</p>
                </div>
                <div class="part" onclick="location.href='/card/more?index=1&sort=1'">
                    <img src="/images/renwen.jpg" alt="">
                    <p>人文</p>
                </div>
                <div class="part" onclick="location.href='/card/more?index=1&sort=2'">
                    <img src="/images/yinshi.jpg" alt="">
                    <p>传统饮食</p>
                </div>
            </div>
            <div class="main-row" onclick="location.href='/card/more?index=1&sort=3'">
                <div class="part">
                    <img src="/images/dushi.jpg" alt="">
                    <p>都市</p>
                </div>
                <div class="part" onclick="location.href='/card/more?index=1&sort=4'">
                    <img src="/images/tianyuan.jpg" alt="">
                    <p>田园风光</p>
                </div>
                <div class="part" onclick="location.href='/card/more?index=1&sort=5'">
                    <img src="/images/gongyi.jpg" alt="">
                    <p>文化与工艺</p>
                </div>
            </div>

        </div>
    </div>
    <div class="sentence">
        <img class="sentence-bg" src="/images/big_1.jpg" alt="">
        <figure>
            <img class="wow flipInX" src="/images/slide3.jpg" alt="三毛">
        </figure>
        <p class="wow swing quote">&ldquo;如果心无处可栖，到哪里都是流浪。&rdquo; <cite class="author">&mdash; 三毛</cite></p>
    </div>

    <div class="popular">
        <div class="title">
            <div class="wow bounceInLeft title-big">最受欢迎旅人</div>
            <p class="wow bounce small-sentence">&ldquo;生命中的全部偶然，其实都是命中注定。&rdquo; <cite class="author">&mdash;
                东野圭吾</cite>
            </p>
            <div class="title-tip" onclick="location.href='/card/more/?index=1'">更多</div>
        </div>
        <div class="main">
            <div class="main-row">

            </div>
            <% for(let i=0;i< face.length;i++){%>
            <div class="card" onclick="openCard('<%=face[i].Uid%>')">
                <div class="header">
                    <img src="http://p3.music.126.net/IAZKcW9XEAD-3Ce7xscrWA==/3264450024529041.jpg?param=200y200"
                         alt="">
                    <span><%=face[i].Name%></span>
                </div>
                <img src="<%=face[i].face%>" alt="">
                <h3>
                    <%=face[i].Title%>
                </h3>
                <div class="card-footer">
                    <div class="price">
                        <span style="font-size: 1.5em;color:#F08080"><%=face[i].Price%></span>元/次
                    </div>
                    <div class="place">
                        <img src="/icon/local.png" alt="">
                        <span><%=face[i].Addr%></span>
                    </div>
                </div>
            </div>
            <%}%>
        </div>
    </div>

    <div class="music">
        <img class="music-bg" src="/images/skllr.jpg" alt="时空恋旅人">
        <audio id="aud" loop>
            <source src="/chengdu.mp3" type="audio/mpeg">
        </audio>
        <img class="wow bounce music-control" id="play" src="/images/play.png" onclick="aud_play()"/>
        <img class="wow bounce music-control" id="pause" src="/images/pause.png" onclick="aud_pause()"/>
        <!--动态播放效果-->
        <div id="music-ani">
            <div id="ani1"></div>
            <div id="ani2"></div>
            <div id="ani3"></div>
            <div id="ani4"></div>
            <div id="ani5"></div>
            <div id="ani6"></div>
        </div>
    </div>
    <div class="articles">
        <div class="title">
            <div class="wow bounceInLeft title-big">我的城市故事</div>
            <p class="wow bounce small-sentence"></cite>
            </p>
            <div class="title-tip">更多</div>
        </div>
        <div class="article-main">
            <img src="/images/slide3.jpg" alt="">
            <div class="article-more">
                Story
                <p class="wow bounce small-sentence" style="font-size: 1rem;width: 12rem;margin:0.5em auto;">&ldquo;我来到,你的城市,走过你来时的路。&rdquo;
                    <cite class="author">&mdash; 《好久不见》</cite>
                <div class="more">
                    -more-
                </div>
            </div>
            <div class="article-list">

                <% for(let i=0;i< articles.length;i++){%>
                <a href='<%=articles[i].Article%>' target="_blank">
                    <div class="article-left">
                        <img src="<%=articles[i].Pic%>" alt="<%=articles[i].Title%>">
                    </div>
                    <div class="article-right" onclick="location.href='#'">
                        <h1><%=articles[i].Title%></h1>
                        <div>
                            <small><%=articles[i].Author%></small>
                            --
                            <%=articles[i].Summary%>
                        </div>
                    </div>
                </a>
                <%}%>
            </div>
        </div>
    </div>
</div>
<%-include js.html%>
<script src="/javascripts/swiper.js"></script>
<script>

</script>

</body>
</html>
