
<footer>
    <div class="wow lightSpeedIn go-top" onclick="goTop()">
        <img src="/icon/top2.png" alt="回到顶部">
    </div>
    <div class="web-info">
        © Lvren 上海旅人有限公司 |
        沪公网安备 xxxxxxxxxxxxxxx号
    </div>
</footer>

<script src="/javascripts/wow.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/javascripts/swiper.min.js"></script>
<script src="/javascripts/swiper.animate1.0.2.min.js"></script>
<script src="/javascripts/style.js"></script>
<script>
    function goTop() {
        $('html,body').animate({
            scrollTop:0
        },800)
    }

    let pathname=location.pathname;
    if(pathname=='/' || pathname=='/index'){
        $("#nav-index").css("borderBottom","solid 2px lightcoral")
    }
    else if(pathname=='/addCard'){
        $("#nav-send").css("borderBottom","solid 2px lightcoral")
    }
    else if(pathname=='/guangchang'){
        $("#nav-guangchang").css("borderBottom","solid 2px lightcoral")
    }


</script>