
<footer>
    <div class="wow lightSpeedIn go-top" onclick="goTop()">
        <img src="/icon/top2.png" alt="回到顶部">
    </div>
    <div class="web-info">
        © Lvren 上海旅人有限公司 |
        沪公网安备 xxxxxxxxxxxxxxx号
        <small>（本网站部分创意来源网络，如涉及版权问题，请联系245915765，马上删）</small>
    </div>
</footer>
<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/javascripts/wow.min.js"></script>
<script src="/javascripts/swiper/swiper.min.js"></script>
<script src="/javascripts/swiper/swiper.animate1.0.2.min.js"></script>
<script src="/javascripts/style.js"></script>
<!--时间控件-->
<script type="text/javascript" src="/datepicker/laydate.dev.js"></script>
<script type="text/javascript" src="/layer/layer.js"></script>
<!--多彩图标-->
<script src="/javascripts/iconfont.js"></script>
<script>
    /*回到顶部*/
    function goTop() {
        $('html,body').animate({
            scrollTop:0
        },600)
    }
    /*首页导航滚动*/
    $('.menu-list').click(function (e) {
        let _this=e.target.href.split('#')[1];
        console.log(_this)
            $('html,body').animate({
                scrollTop:$('#'+_this).offset().top
            },600)
    })
    let pathname=location.pathname;
    if(pathname=='/' || pathname=='/index'){
        $("#nav-index").css("borderBottom","solid 2px lightcoral")
    }
    else if(pathname=='/addCard'){
        $("#nav-send").css("borderBottom","solid 2px lightcoral")
    }
    else if(pathname=='/guangchang'){
        $("#nav-guangchang").css("borderBottom","solid 2px lightcoral")
    }

/*获取本地图片路径*/
    function getObjectURL(file) {
        var url = null;
        if (window.createObjectURL != undefined) {
            url = window.createObjectURL(file)
        } else if (window.URL != undefined) {
            url = window.URL.createObjectURL(file)
        } else if (window.webkitURL != undefined) {
            url = window.webkitURL.createObjectURL(file)
        }
        return url
    };

</script>