
<link rel="stylesheet" href="/stylesheets/swiper/swiper.min.css">
<link rel="stylesheet" href="/stylesheets/swiper/animate.min.css">
<!--<link rel="stylesheet" type="text/css" href="/stylesheets/model/default.css"/>-->
<link rel="stylesheet" type="text/css" href="/stylesheets/model/component.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/model/form.css"/>
<link rel="stylesheet" href="/stylesheets/nav.css">
<script src="/javascripts/model/modernizr.custom.js"></script>


