<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>moreCards</title>
    <%- include layoutCss.html%>
    <link rel="stylesheet" href="/stylesheets/moreCard.css">
    <style>
        #menu{
            background: #fff;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2)
        }
    </style>
</head>
<body>
<%- include nav.html%>

<div id="more-cards">
    <div class="nav">
        <%
        let s='所有旅人'
        switch(sort){
        case '0':
        s='自然';break;
        case '1':
        s='人文';break;
        case '2':
        s='传统饮食';break;
        case '3':
        s='都市';break;
        case '4':
        s='田园风光';break;
        case '5':
        s='文化与工艺';break;
        }
        %>
        现在位置><%=s%>
    </div>
    <section class="main">
        <% for(let i=0;i< face.length;i++){%>
        <div class="card" onclick="openCard('<%=face[i].Uid%>')">
            <div class="header">
                <img src="<%=face[i].HeadPic%>" alt="">
                <sapn><%=face[i].Name%></sapn>
            </div>
            <img src="<%=face[i].face%>" alt="">
            <h3>
                <%=face[i].Title%>
            </h3>
            <div class="card-footer">
                <div class="price">
                    <sapn style="font-size: 1.5em;color:#F08080"><%=face[i].Price%></sapn>元/次
                </div>
                <div class="place">
                    <img src="/icon/local.png" alt="">
                    <%=face[i].Addr%>
                </div>
                <div class="goto">

                </div>
            </div>
        </div>
        <%}%>

    </section>

    <div class="pagination" id="card-pager">
        <ul>
            <li class="page-normal">
                <a href="javascript:indexPage(-1)" id="page-prev"><</a>
            </li>
            <% for(let i=1;i<=pageAccount;i++){%>
            <li class="page-normal">
                <a href="/card/more?index=<%=i%>" id="page-<%=i%>"><%=i%></a>
            </li>
            <%}%>
            <li class="page-normal">
                <a href="javascript:indexPage(1)" id="page-next"> > </a>
            </li>
        </ul>
    </div>
</div>
<%-include js.html%>
<script>
    let search = location.search.slice(1);
    let currentPage = parseInt(search.split('=')[1]);
    console.log(search);
    console.log(location);
    $("[id^='page-']").removeClass('page-active');

    $(`#page-${currentPage}`).addClass('page-active');

    if (currentPage == 1) {
        $("#page-prev").addClass('page-disable');
    } else if (currentPage == '<%= pageAccount %>') {
        $("#page-next").addClass('page-disable');

    }
    function indexPage(n) {
        let page = currentPage + n;
        if (page < 2) {
            page = 1;
        }
        else if (page > '<%= pageAccount %>') {
            page = '<%=pageAccount%>';

        }
        location.search = '?index=' + page;

        }
</script>
<script src="/javascripts/moreCard.js"></script>
</body>
</html>