<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Expires" CONTENT="0">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <title><%=user.Name%>的个人主页———旅人</title>
    <%- include layoutCss.html%>
    <link rel="stylesheet" href="/stylesheets/my/my.css">
    <link rel="stylesheet" href="/stylesheets/my/setting.css">
    <link rel='stylesheet' href="/stylesheets/my/addCard.css"/>
    <link rel='stylesheet' href="/stylesheets/my/collection.css"/>
    <link rel='stylesheet' href="/stylesheets/my/msg.css"/>
    <!--模态框js-->
    <script src="/javascripts/model/modernizr.custom.js"></script>
    <style>
        #menu{
            background: #fff;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2)
        }
    </style>
</head>
<body>
<%- include ./nav.html%>
<div id="my">
    <div class="top">
        <div class="header">
            <div class="img-header">
                <img src="<%=user.HeadPic%>" alt="">
            </div>
            <div id="name">
                <h1><%=user.Name%></h1>
                <p class="introduce">
                    <%=user.Intro%>
                </p>
            </div>
            <a class="setting" href="/users/setting">个人设置</a>
        </div>
        <div class="tab">
            <ul onclick="changeMy(event)">
                <li class="active" id="tab1">订单</li>
                <li id="tab2">旅人卡</li>
                <li id="tab3">喜欢</li>
                <li id="tab4">消息</li>
            </ul>
        </div>
    </div>

    <div class="main">
        <!--order模块-->
        <%- include ./my/order.html%>
        <!--card模块-->
        <%
            if(haveCard){
        %>
        <%- include ./my/card.html%>
        <%}else{%>
        <%- include ./my/addCard.html%>
        <%}%>
        <!--collection模块-->
        <%- include ./my/collection.html%>
        <!--msg模块-->
        <%- include ./my/msg.html%>
    </div>
</div>
<!--添加消息提醒的模态框-->
<%- include ./js.html%>
<!--<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>-->

<script src="/javascripts/my.js"></script>
<!--card部分 js  -->
<script src="/javascripts/addCard.js"></script>
</body>
</html>