<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anastasia的个人主页———旅人</title>
    <%- include layoutCss.html%>
    <link rel="stylesheet" href="/stylesheets/my/my.css">
    <link rel="stylesheet" href="/stylesheets/my/setting.css">
    <link rel='stylesheet' href="/stylesheets/my/addCard.css"/>
    <link rel='stylesheet' href="/stylesheets/my/collection.css"/>
    <link rel='stylesheet' href="/stylesheets/my/msg.css"/>
    <!--模态框js-->
    <script src="/javascripts/model/modernizr.custom.js"></script>
</head>
<body>
<div id="my">
    <div class="top">
        <div class="header">
            <div class="img-header">
                <img src="http://p3.music.126.net/IAZKcW9XEAD-3Ce7xscrWA==/3264450024529041.jpg?param=200y200" alt="">
            </div>
            <div id="name">
                <h1>Anstasia</h1>
                <p class="introduce">
                    个人简介
                </p>
            </div>
            <a class="setting" href="/users/setting">个人设置</a>
        </div>
        <div class="tab">
            <ul onclick="changeMy(event)">
                <li class="active" id="tab1">订单</li>
                <li id="tab2">旅人卡</li>
                <li id="tab3">喜欢</li>
                <li id="tab4">消息</li>
            </ul>
        </div>
    </div>

    <div class="main">
        <!--order模块-->
        <%- include ./my/order.html%>
        <!--card模块-->
        <%
            if(haveCard){
        %>
        <%- include ./my/card.html%>
        <%}else{%>
        <%- include ./my/addCard.html%>
        <%}%>
        <!--collection模块-->
        <%- include ./my/collection.html%>
        <!--msg模块-->
        <%- include ./my/msg.html%>
    </div>
</div>
<!--添加消息提醒的模态框-->

<div class="md-modal md-effect-7" id="modal-7">
    <div class="md-content">
        <h3 id="modal-tip">错误提示</h3>
        <div>
            <p id="face-tip-msg"></p>
            <button class="md-close">关闭</button>
        </div>
    </div>
</div>
<!--触发div-->
<button class="md-trigger" data-modal="modal-7" id="face-tip" style="opacity: 0">modal</button>

<div class="md-overlay"></div>
<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="/javascripts/iconfont.js"></script>
<script src="/javascripts/my.js"></script>
<!--card部分 js  -->
<script src="/javascripts/addCard.js"></script>
<script src="/javascripts/model/classie.js"></script>
<script src="/javascripts/model/modalEffects.js"></script>
</body>
</html>