
<header id="menu">
    <div class="nav">
        <div class="logo">
            <a href="/">旅人</a>
        </div>
        <button  style="display: none" id="not-login" onclick="openLogin()">登录</button>
        <div class="user">
            <a href="/users" id="logined" style="display: none">
                <img src="http://p3.music.126.net/IAZKcW9XEAD-3Ce7xscrWA==/3264450024529041.jpg?param=200y200" alt="">
                <span id="nav-nickname"></span>
            </a>
            <div class="dropdown-content">
                <ul>
                    <li><a href="/users">个人主页</a></li>
                    <li><a href="/logout">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>

<script>
    $.get('/session', function (data) {
        if (data.code == 200) {
            $("#not-login").css("display", "none");
            $("#logined").css("display", "block");
            $("#nav-nickname").text(data.user.Name);
            $("#logined img").attr('src',data.user.HeadPic);
        } else {
            $("#logined").css("display", "none");
            $("#not-login").css("display", "block");
        }
    })

</script>