<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <%- include ./layoutCss.html%>
    <link rel="stylesheet" href="/stylesheets/my/setting.css">
    <style>
        #menu{
            background: #fff;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2)
        }
    </style>
</head>
<body>
<%- include ./nav.html%>
<div id="setting">
    <div class="hd">
        <strong>账号设置</strong>
    </div>
    <div class="userinfo">
        <form action="" method="post" id="setting-frm">
            <!--<div class="alert alert-danger" style="color: #a94442;background-color: #f2dede;border-color: #ebccd1;display:none"></div>-->
            <dl id="set-hd">
                <dt>头像：</dt>
                <dd>
                    <div id="input-hd">
                        <img src="/icon/upload-img.png" alt="">
                        <input name="headPic" type="file">
                        <img src="<%=user.HeadPic%>" id="show-hd">
                    </div>
                </dd>
            </dl>
            <dl id="set-name">
                <dt>名号：</dt>
                <dd><input name="name" value="<%=user.Name%>" maxlength="16" autocomplete="off" data-verification-name="名号" class="verification[required,funcCall[checkNickname]]" type="text"></dd>
            </dl>
            <dl id="set-gender">
                <dt>性别：</dt>
                <dd>
                    <% if(user.Gender=='0'){ %>
                    <label><input name="gender" value="1" type="radio">男</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <label><input name="gender" value="0" checked="true" type="radio">女</label>
                    <%}else{%>
                    <label><input name="gender" value="1" checked="true" type="radio">男</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <label><input name="gender" value="0" type="radio">女</label>
                    <%}%>

                </dd>
            </dl>
            <dl id="set-birthday">
                <dt>出生日期：</dt>
                <dd>
                    <input name="birthday" value="<%=user.Birthday%>" type="text"
                    onclick="laydate({
                    format: 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月
                              festival: true, //显示节日
                    })">
                </dd>
            </dl>
            <dl id="set-idcard">
                <dt>身份证号：</dt>
                <dd>
                    <input  name="IDcard" value="<%=user.IDCard%>"  autocomplete="off" type="text">
                </dd>
            </dl>
            <dl id="set-job">
                <dt>职业：</dt>
                <dd>
                    <input name="job" value="<%=user.Job%>" autocomplete="off" type="text">
                </dd>
            </dl>
            <dl id="set-tel">
                <dt>电话：</dt>
                <dd>
                    <input name="tel" value="<%=user.Tellphone%>" autocomplete="off" type="tel">
                </dd>
            </dl>
            <dl id="set-wechat">
                <dt>微信号：</dt>
                <dd>
                    <input name="wechat" value="<%=user.Wechat%>" autocomplete="off" type="text">
                </dd>
            </dl>
            <dl id="set-anhao">
                <dt>微信暗号：</dt>
                <dd>
                    <input name="anhao" value="<%=user.Anhao%>" autocomplete="off" type="text">
                </dd>
            </dl>
            <dl id="set-zhifubao">
                <dt>支付宝账号：</dt>
                <dd>
                    <input name="zhifubao" value="<%=user.Zhifubao%>" autocomplete="off" type="text">
                </dd>
            </dl>
            <dl id="set-intro">
                <dt>个性签名：</dt>
                <dd><input name="intro" value="<%=user.Intro%>" placeholder="一句话代表你" /></dd>
            </dl>
            <div class="btn-sub">
                <a id="btn-set" class="btn submit" onclick="setting()">保存</a>
                <span id="tip-setting">&nbsp;</span>
            </div>
        </form>
    </div>

</div>
<%- include ./js.html%>
<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/javascripts/my.js"></script>
</body>
</html>