<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .b{
            display: -webkit-flex;
            display: flex;
            flex-flow: wrap row;
            justify-content: space-between;
            width:100%;
            height:300px;
        }
        .a{
            flex: 1;
            width:30%;
            height:30%;
            border:solid 1px #000;
        }
    </style>
</head>
<body>
<div class="b">
    <div class="a">121212</div>
    <div class="a">121212</div>
    <div class="a">121212</div>
    <div class="a">121212</div>
    <div class="a">121212</div>
    <div class="a">121212</div>
    <div class="a">121212</div>
    <div class="a">121212</div>
    <div class="a">121212</div>
</div>
</body>
</html>