<div id="addCard" style="display: none">
    <form action='javascript:;' id="add-frm">
        <section id="add-carousel">
            <label for="add-carousel">
                <div class="carousel2">
                    <h2>设置封面图片</h2>
                    <small>——建议选择横图</small>
                </div>
            </label>
            <div class="add-title">
                <input type="text" placeholder="填写卡片标题" name="title" required >
            </div>
            <input type="file" name="facePic" id="facePic" required>
        </section>
        <section id="add-card-detail">
            <div class="add-addr">
                <label for="add-addr">
                    项目城市：
                </label>
                <input type="text" id="add-addr" name="addr"  required>
            </div>
            <div class="add-sort">
                <label for="add-addr">
                项目分类：
                </label>
                <select type="text" id="add-sort" name="sort">
                    <option value="0">自然</option>
                    <option value="1">人文</option>
                    <option value="2">传统饮食</option>
                    <option value="3">都市</option>
                    <option value="4">田园风光</option>
                    <option value="5">文化与工艺</option>
                </select>
            </div>
            <div class="add-canCut">
                <label for="add-canCut">
                    是否可以砍价：
                </label>
                <input type="checkbox" id="add-canCut" name="canCut" value="1" checked>
            </div>
            <div class="add-price">
                <label for="add-canCut">
                    定价：
                </label>
                <input type="number" id="add-price" name="price" required > &nbsp; 元/次
            </div>

            <div class="add-about">
                <label for="add-about">关于我：</label>
                <textarea name="about" id="add-about" rows="6" required ></textarea>
            </div>
            <div class="add-project">
                <label for="add-project">项目介绍：</label>
                <textarea name="play" id="add-project" rows="6" required></textarea>
            </div>
            <div class="add-time">
                <label for="add-time">时间安排：</label>
                <textarea name="appointTime" id="add-time" rows="6" required></textarea>
            </div>
            <div class="add-about-price">
                <label for="add-price">费用包含：</label>
                <textarea name="aboutPrice" id="about-price" rows="6" required></textarea>
            </div>
            <div class="add-other">
                <label for="add-other">其他：</label>
                <textarea name="other" id="add-other" rows="6"></textarea>
            </div>
            <div class="add-photo">
                <label for="photos">相关图片：</label>
                <span>（4~6张）</span><br>
                <ul id="show-photos">
                    <li>
                        <div class="upload-box">
                            <img src="/icon/upload-img.png" alt="">
                            <input type="file" name="photos" id="photos" multiple required>
                        </div>
                    </li>
                    <li id="li0">
                        <img src="" alt="">
                    </li>
                    <li id="li1">
                        <img src="" alt="">
                    </li>
                    <li id="li2">
                        <img src="" alt="">
                    </li>
                    <li id="li3">
                        <img src="" alt="">
                    </li>
                    <li id="li4">
                        <img src="" alt="">
                    </li>
                    <li id="li5">
                        <img src="" alt="">
                    </li>
                </ul>
            </div>
        </section>
        <div class="div-btn">
            <button type="submit" class="btn submit"  id="btn-addCard">提交</button>
            <span id="add-tip"></span>
        </div>

    </form>
</div>
