<div id="updateCard" style="display: none">
    <form action='javascript:;' id="update-frm">
        <section id="add-carousel">
            <label for="add-carousel" style="background: url('<%=card.Face%>') no-repeat;background-size: cover">
                <div class="carousel2">
                    <h2>设置封面图片</h2>
                    <small>——建议选择横图</small>
                </div>
            </label>
            <div class="add-title">
                <input type="text" placeholder="填写卡片标题" name="title" required value="<%=card.Title%>">
            </div>
            <input type="file" name="facePic" id="facePic">
        </section>
        <section id="add-card-detail">
            <div class="add-addr">
                <label for="add-addr">
                    项目城市：
                </label>
                <input type="text" id="add-addr" name="addr" required value="<%=card.Addr%>">
            </div>
            <div class="add-canCut">
                <label for="add-canCut">
                    是否可以砍价：
                </label>
                <%
                if(card.CanCut=='是'){
                %>
                <input type="checkbox" id="add-canCut" name="canCut" value="1" checked>
                <%}else{%>
                <input type="checkbox" id="add-canCut" name="canCut" value="1">
                <%}%>
            </div>
            <div class="add-price">
                <label for="add-canCut">
                    定价：
                </label>
                <input type="number" id="add-price" name="price" required value="<%=card.Price%>"> &nbsp; 元/次
            </div>

            <div class="add-about">
                <label for="add-about">关于我：</label>
                <textarea name="about" id="add-about" rows="6" required><%=card.About%></textarea>
            </div>
            <div class="add-project">
                <label for="add-project">项目介绍：</label>
                <textarea name="play" id="add-project" rows="6" required><%=card.Play%></textarea>
            </div>
            <div class="add-time">
                <label for="add-time">时间安排：</label>
                <textarea name="appointTime" id="add-time" rows="6" required><%=card.AppointTime%></textarea>
            </div>
            <div class="add-about-price">
                <label for="add-price">费用包含：</label>
                <textarea name="aboutPrice" id="about-price" rows="6" required><%=card.AboutPrice%></textarea>
            </div>
            <div class="add-other">
                <label for="add-other">其他：</label>
                <textarea name="other"  id="add-other" rows="6"><%=card.Other%></textarea>
            </div>
            <div class="add-photo">
                <label for="photos">相关图片：</label>
                <span>（4~6张）</span><br>
                <ul id="show-photos">
                    <li>
                        <div class="upload-box">
                            <img src="/icon/upload-img.png" alt="">
                            <input type="file" name="photos" id="photos" multiple>
                        </div>
                    </li>
                    <%
                    let photos=card.Photos.split(',');

                    %>
                    <li id="li0">
                        <img src="<%=photos[0]%>" alt="">
                    </li>
                    <li id="li1">
                        <img src="<%=photos[1]%>" alt="">
                    </li>
                    <li id="li2">
                        <img src="<%=photos[2]%>" alt="">
                    </li>
                    <li id="li3">
                        <img src="<%=photos[3]%>" alt="">
                    </li>
                    <li id="li4">
                        <%if(photos.length>4){%>
                        <img src="<%=photos[4]%>" alt="">
                        <%}%>
                    </li>
                    <li id="li5">
                        <%if(photos.length>5){%>
                        <img src="<%=photos[5]%>" alt="">
                        <%}%>
                    </li>
                </ul>
            </div>
        </section>
        <!--todo:如果不做任何修改上传就会报错-->
        <div class="div-btn">
            <button type="submit" class="btn btn-default" id="btn-updateCard">提交</button>
            <span id="update-tip"></span>
        </div>

    </form>
</div>
