<ul class="collection" id="collection" style="display: none">
    <%
    for(let i=0;i< save.length;i++){
    %>
    <li data-order="2" data-top="1">
        <dl>
            <dt>
                <a href="/card?card=<%=save[i].Tid%>" target="_blank">
                    <img
                        src="<%=save[i].Face%>"
                        alt="封面" height="400" width="680">
                </a>
                <div class="hover_item">
                    <div class="description">
                        <strong>中国/</strong>
                        <span><%=save[i].Addr%></span>
                    </div>
                    <div class="description des-footer">
                        <span>旅人：</span>
                        <span><%=save[i].Name%></span>
                    </div>
                </div>
            </dt>
            <dd>
                <div class="note_title">
                    <div class="note_info">
                        <h3>
                            <a href="/card?card=<%=save[i].Tid%>" target="_blank" title="<%=save[i].Title%>"><%=save[i].Title%></a>
                        </h3>
                        <div class="note_more">
                            <span class="time"><%=save[i].Uptime%></span>
                        </div>
                    </div>
                    <div class="btn-collection" id="collect<%=save[i].Tid%>" onclick="collect('<%=save[i].Tid%>')">
                        <img src="/icon/collection.png" alt=""><small>喜欢</small>
                    </div>
                </div>
                <div class="note_word">
                    <%=save[i].About%>
                </div>
            </dd>
        </dl>
    </li>
    <%}
    if(!save.length){
    %>
    <li>这里空空如也，快去收藏吧~</li>
    <%}%>
</ul>