<div id="msg" style="display: none">
    <div class="title">
        <a href="javascript:void(0);" class="on">留言</a>
        <a href="javascript:void(0);">回复</a>
        <a href="javascript:void(0);">订单</a>
    </div>

    <div class="content inner-news">
        <% let t,msg;
        for(let i=0;i< newsM.length;i++){
        %>
        <a href="/users/newsDetail?type=0&nid=<%=newsM[i].Nid%>" target="_blank" class="msg-hover">
            <dl class="dongtai" style="margin-left: 10px;">
                <dt class="people">
                <div style="width:63px;height:63px;border-radius:31px;background:url('http://static.699pic.com/images/news.png') 0 0;"></div>
                </dt>
                <dd>
                    <div class="dongtai_infor">
                        <div class="one">
                            <span class="name"> 用户消息 - </span>
                            <span class="time_ly"><%=newsM[i].Ntime%></span>
                        </div>
                        <div class="two">
                            <span data="yaoqing">你有一条新留言</span>
                        </div>
                    </div>
                </dd>
            </dl>
        </a>
        <%}%>
    </div>

    <div class="content reply-news">
        <%
        for(let i=0;i< newsR.length;i++){
        %>
        <a href="/users/newsDetail?type=1&nid=<%=newsR[i].Nid%>" target="_blank" class="msg-hover">
            <dl class="dongtai" style="margin-left: 10px;">
                <dt class="people">
                <div style="width:63px;height:63px;border-radius:31px;background:url('http://static.699pic.com/images/news.png') 0 0;"></div>
                </dt>
                <dd>
                    <div class="dongtai_infor">
                        <div class="one">
                            <span class="name"> 用户消息 - </span>
                            <span class="time_ly"><%=newsR[i].Ntime%></span>
                        </div>
                        <div class="two">
                            <span data="yaoqing"><%=newsR[i].Reply%></span>
                        </div>
                    </div>
                </dd>
            </dl>
        </a>
        <%}%>
    </div>

    <div class="content user-news"  style="display: none;">
        <% let m='公告',type=2;
        for(let i=0;i< newsO.length;i++){
            switch(newsO[i].Type){
                case '2':
                m='你有一个新订单';
                break;
                case '3':
                m='你的订单被确认了';
                break;
        }
        %>
        <a href="/users/newsDetail?type=<%=type%>&nid=<%=newsO[i].Nid%>" target="_blank" class="msg-hover">
            <dl class="dongtai" style="margin-left: 10px;">
                <dt class="people">
                <div style="width:63px;height:63px;border-radius:31px;background:url('http://static.699pic.com/images/news.png') 0 0;"></div>
                </dt>
                <dd>
                    <div class="dongtai_infor">
                        <div class="one">
                            <span class="name"> 用户消息 - </span>
                            <span class="time_ly"><%=newsO[i].Ntime%></span>
                        </div>
                        <div class="two">
                            <span data="yaoqing"><%=m%></span>
                        </div>
                    </div>
                </dd>
            </dl>
        </a>
        <%}%>
    </div>
    
</div>