<div id="order-list">
    <div class="order-menu">
        <ul id="order-menu">
            <li class="active" onclick="changeOrder('0')">我在租谁
                <svg class="icon">
                    <use xlink:href="#icon-keche"></use>
                </svg>
            </li>
            <li onclick="changeOrder('1')">谁在租我
                <svg class="icon">
                    <use xlink:href="#icon-fanchuan"></use>
                </svg>
            </li>
        </ul>
    </div>
    <div class="order-main">
        <ul class="filter_nav order_nav_ul" id="filter_nav">
            <li class="on tap" id="filter-order-1" onclick="fliterOrder('-1')"><a title="全部订单">全部订单</a></li>
            <li class="tap" id="filter-order0" onclick="fliterOrder('0')"><a title="待确认">待确认</a></li>
            <li class="tap" id="filter-order1" onclick="fliterOrder('1')"><a title="待付款">待付款</a></li>
            <li class="tap" id="filter-order2" onclick="fliterOrder('2')"><a title="待见面">待见面</a></li>
            <li class="tap" id="filter-order3" onclick="fliterOrder('3')"><a title="待评价">待评价</a></li>
        </ul>
        <div id="order-filter"></div>
        <div id="order-man">

        </div>
        <div id="order-default">
        <%for(let i=0;i< order0.length;i++){%>
        <div class="order">
            <div class="ord_top">
                <span class="time"><%=order0[i].OrderTime%></span><span>订单号：<%=order0[i].Oid%></span>
                <span class="name">当地人：<a href="/ta?tid=<%=order0[i].Uid%>"><%=order0[i].Name%></a></span>
                <span class="contact" title="联系Ta" onclick="connectTa('<%=order0[i].Wechat%>','<%=order0[i].Anhao%>')"><i></i>联系Ta</span>
            </div>
            <div class="ord_bottom">
                <dl class="pic">
                    <dt>
                        <a href="/card?card=<%=order0[i].Uid%>"><img
                                src="<%=order0[i].Face%>"
                                alt="" width="100%"></a>
                    </dt>
                    <dd>
                        <h2><a href="/card?card=<%=order0[i].Uid%>"><%=order0[i].Title%></a></h2>
                        <p class="address"><i></i><%=order0[i].Addr%></p>
                        <p class="time">预约时间：<%=order0[i].Appointment%></p>
                        <p class="place">见面地点：待确认</p>
                    </dd>
                </dl>
                <div class="ord_c">
                    <%if(order0[i].State==4){%>
                            <span class="font_c">

                            </span>             已取消
                    <%}%>
                    <%if(order0[i].State==3){%>
                            <span class="font_c" style="color: green">

                            </span>             已完成
                    <%}%>
                </div>
                <div class="ord_r">
                    <div class="price">商议价格 <span class="money">￥ <b><%=order0[i].Price%></b></span></div>
                    <%if(order0[i].State==1){%>
                    <a class="btn comment_order" id="fukuan<%=order0[i].Oid%>" onclick="alipay('<%=order0[i].Oid%>','<%=order0[i].Appointment%>','<%=order0[i].Price%>')">付款</a>
                    <%}%>
                    <%if(order0[i].State==3){%>
                    <a class="btn comment_order">评价</a>
                    <%}%>
                    <a class="btn delete_order"id="del<%=order0[i].Oid%>" onclick="delOrder('<%=order0[i].Oid%>')">删除订单</a>
                </div>
            </div>
        </div>
        <%}%>

        </div>
    </div>
</div>