  #addCard {
  width: 60%;
  margin: 12em auto;
  padding: 0;
  color: #333;
  box-sizing: border-box;
  form {
    background: #fff;
    width: 65%;
    display: inline-block;
    margin-right: 3rem;
    padding: 4em;

    .add-about, .add-project, .add-time, .about-price, .add-other {
      text-align: left;

    }

  }
  aside {
    width: 15%;
    position: fixed;
    background: #ffffff;
    display: inline-block;
    padding-top: 2.5rem;
    ul {
      li {
        list-style: square;
      }
    }
  }
}

#add-carousel {
  width: 100%;
  height: 320px;
  border: solid 1px #ddd;
  position: relative;
  text-align: center;
  input[type=file] {
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    z-index: 2;
    background: lightblue;
  }
  label {
    position: absolute;
    top: 5%;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .carousel1 {
      flex: 1;
      img {
        width: 64px;
        height: 64px;
        margin-left: 2em;
      }
    }
    .carousel2 {
      flex: 7;
    }
    & > img {
    }
  }
  .add-title input {
    position: absolute;
    z-index: 3;
    height: 3.5rem;
    width: 20rem;
    line-height: 2rem;
    left: 50%;
    margin-left: -10rem;
    bottom: 1.5rem;
    border: none;
    box-shadow: 0 0 6px 2px #ddd;
    font-size: 1.5rem;
  }
  & > img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;

  }
}

#face-tip {
  position: relative;
  z-index: -2;
}

#add-card-detail {
  margin-top: 4em;
}

.add-photo {
  border: solid 1px #ddd;
  //position: relative;
  .upload-box {
    width: 100px;
    height: 100px;
    border: solid 1px #ddd;
    position: relative;
    //top: 6em;
    //left: 0;
    background: #EFEFEF;
    text-align: center;
    display: inline-block;
    font-size: 0;
    >img {
      width: 32px;
      height: 32px;
      position: relative;
      top:50%;
      margin-top: -16px;
      margin-right: 0.2em;
    }
  }
}

#photos {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  margin-right: 0.2em;
  background: red;
}