#card {
  width: 960px;
  margin: 12em auto;
  padding: 0;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  box-sizing: border-box; }
  #card article {
    background: #fff;
    flex: 3;
    display: inline-block;
    margin-right: 3rem;
    text-align: center; }
    #card article h1 {
      font-size: 32px; }
    #card article .tip {
      width: 85%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      line-height: 1em;
      margin: auto; }
      #card article .tip .place {
        flex: 2; }
      #card article .tip .rented, #card article .tip .remark {
        flex: 1; }
      #card article .tip .save, #card article .tip .price, #card article .tip .rent {
        flex: 2; }
      #card article .tip .place {
        position: relative; }
        #card article .tip .place i {
          background: url("/icon/local.png") no-repeat;
          position: absolute;
          left: 0;
          vertical-align: middle;
          width: 1.5em;
          height: 1.5em; }
      #card article .tip .price {
        color: lightcoral;
        font-weight: 600; }
      #card article .tip .save, #card article .tip .rent {
        text-align: center; }
        #card article .tip .save button, #card article .tip .rent button {
          outline: none;
          padding: 0;
          background: transparent;
          border: solid 2px #ddd;
          border-radius: 4px;
          width: 5em;
          height: 2.2em;
          line-height: 2.2em;
          font-size: 1.2rem;
          color: lightcoral; }
      #card article .tip .rent {
        padding: 0;
        margin: 0; }
        #card article .tip .rent button:before {
          background: none; }
    #card article .swiper-container {
      width: 90%;
      height: 400px;
      margin: 2em auto; }
      #card article .swiper-container img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
  #card aside {
    flex: 1;
    background: #ffffff;
    display: inline-block;
    padding: 2.5rem 1rem; }
    #card aside .header {
      text-align: center;
      margin: auto; }
      #card aside .header img {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        border: solid 2px lightcoral;
        overflow: hidden; }
      #card aside .header .name {
        margin: 0.5em auto;
        font-size: 1.5rem; }
      #card aside .header .resume {
        display: inline-block;
        margin: auto;
        height: 30px;
        width: 100%; }
        #card aside .header .resume span {
          display: inline-block;
          width: 4em;
          margin: 0.2em;
          padding: 0.2rem;
          background: rgba(253, 211, 211, 0.5);
          border-radius: 15px;
          font-size: 14px; }
      #card aside .header .rent-info {
        text-align: left;
        color: #999;
        width: 72%;
        margin: 1.5em auto;
        padding: 0 0.4em;
        border-left: solid 2px lightcoral; }
        #card aside .header .rent-info li {
          list-style: none;
          padding: 0;
          margin: 0.5em 0; }
    #card aside .card-list ul li {
      list-style: none;
      margin: 0;
      text-align: center; }

#card-detail {
  width: 100%;
  color: #555; }
  #card-detail .card-nav ul li {
    list-style: none;
    display: inline-block;
    margin: 2em;
    color: #000; }
  #card-detail img {
    width: 90%;
    object-fit: cover; }
  #card-detail p {
    width: 88%;
    margin: 2em auto;
    text-indent: 2em;
    letter-spacing: 0.2em;
    text-align: left;
    line-height: 1.5em; }

@keyframes zuta {
  0% {
    top: 43%; }
  20% {
    top: 41%; }
  100% {
    top: 43%; } }
@-webkit-keyframes zuta {
  0% {
    top: 43%; }
  20% {
    top: 41%; }
  100% {
    top: 43%; } }
.btn-order {
  position: fixed;
  top: 45%;
  width: 4rem;
  height: 4rem;
  left: 2rem;
  cursor: pointer;
  z-index: 3;
  animation: zuta 1s linear  infinite; }
  .btn-order :hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused; }
  .btn-order .icon {
    font-size: 2rem; }

/*# sourceMappingURL=cardDetail.css.map */
