#card-header{
  width:100%;
}
#card {
  width: 960px;
  margin: 0.5em auto 12em;
  padding: 0;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  box-sizing: border-box;
  article {
    background: #fff;
    flex: 3;
    display: inline-block;
    margin-right: 3rem;
    text-align: center;
    h1 {
      font-size: 32px;
    }
    .tip {
      width: 90%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      line-height: 1em;
      margin: auto;
      .place{
        flex: 2;
      }
      .rented, .remark,.share {
        flex: 1;
      }
      .share{
        cursor: pointer;
      }
      .save, .price, .rent {
        flex: 2;

      }
      .place {
        position: relative;
        i {
          background: url("/icon/local.png") no-repeat;
          //position: absolute;
          //left: 0;
          display: inline-block;
          vertical-align: bottom;
          width: 1.2em;
          height: 1.2em;
        }
      }
      .price {
        color: lightcoral;
        font-weight: 600;
      }
      .save,.rent {
        text-align: center;
        button {
          outline: none;
          padding: 0;
          background: transparent;
          border: solid 2px #ddd;
          border-radius: 4px;
          width: 5em;
          height: 2.2em;
          line-height: 2.2em;
          //position: relative;
          font-size: 1.2rem;
          color: lightcoral;
        }
      }
      .rent {
        padding: 0;
        margin: 0;
        button {
          &:before {
            background: none;
          }
        }
      }
    }

    .swiper-container {
      width: 90%;
      height: 400px;
      margin: 2em auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  aside {
    flex: 1;
    background: #ffffff;
    display: inline-block;
    padding: 2.5rem 1rem;
    .header {
      text-align: center;
      //width: 90%;
      margin: auto;
      img {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        border: solid 2px lightcoral;
        overflow: hidden;
      }
      .name {
        margin: 0.5em auto;
        font-size: 1.5rem;
      }
      .resume {
        display: inline-block;
        margin: auto;
        height:30px;
        width:100%;
        span {
          display: inline-block;
          width:4em;
          margin: 0.2em;
          padding:0.2rem;
          background: rgba(253, 211, 211,0.5);
          border-radius: 15px;
          font-size: 14px;
        }
      }
      .rent-info {
        text-align: left;
        color: #999;
        width:72%;
        margin:1.5em auto;
        padding: 0 0.4em;
        border-left: solid 2px lightcoral;
        li {
          list-style: none;
          padding: 0;
          margin:0.5em 0;
        }
      }
    }
    .card-list{
      ul{
        li{
          list-style: none;
          margin:0;
          text-align: center;
        }
      }
    }
  }
}

#card-detail {
  width: 100%;
  color: #555;
  .card-nav {
    ul {
      li {
        list-style: none;
        display: inline-block;
        margin: 2em;
        color: #000;
      }
    }
  }
  img {
    width: 90%;
    object-fit: cover;
  }
  p {
    width: 88%;
    margin: 2em auto;
    text-indent: 2em;
    letter-spacing: 0.2em;
    text-align: left;
    line-height: 1.5em;;
  }
}



@keyframes zuta
{
  0% {top:43%}
  20% {top:41%}
  100% {top:43%}
}

@-webkit-keyframes zuta
{
  0% {top:43%}
  20% {top:41%}
  100% {top:43%}
}
.btn-order{
  position: fixed;
  top:45%;
  width:4rem;
  height:4rem;
  left:2rem;
  cursor: pointer;
  z-index: 3;
  animation: zuta 1s linear  infinite;
  :hover{
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state:paused
  }
  .icon{
    font-size: 2rem;
  }
}


.comment{
  text-align: left;
  p{
    text-indent: 0;
    margin: 0;
  }
  padding: 2rem;
  .div-form{
    margin-bottom:4rem;
  }
  #frm-commen{
    display: flex;
    flex-flow: row nowrap;
    div{
      flex: 1;
    }
    input{
      flex: 8;
    }
  }
  .comment-main{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin-top:2rem;
    .comment-hd{
      flex:1;
      overflow: hidden;
      img{
        width:50px;
        height:50px;
        vertical-align: top;
        object-fit: cover;
      }
    }
    .comment-text{
      flex: 8;
      strong{
        color: #9A0000;
      }
      .time{
        margin-top: 0.5rem;
        color: #999;
      }
      .reply{
        background: #F2F2F5;
        padding: 0.3rem;
        margin-top: 0.5rem;
      }
    }
  }
}