#card {
  width: 60%;
  margin: 12em auto;
  padding: 0;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  box-sizing: border-box;
  article {
    background: #fff;
    flex: 3;
    display: inline-block;
    margin-right: 3rem;
    text-align: center;
    h1 {
      font-size: 32px;
    }
    .tip {
      width: 85%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      line-height: 1em;
      margin: auto;
      .place, .rented, .remark {
        flex: 1;
      }
      .save, .price, .rent {
        flex: 2;

      }
      .place {
        position: relative;
        &:before {
          content: "";
          background: url("/icon/local.png") no-repeat;
          position: absolute;
          left: 0;
          vertical-align: middle;
          width: 1.5em;
          height: 1.5em;
        }
      }
      .price {
        color: lightcoral;
        font-weight: 600;
      }
      .save, .rent {
        text-align: center;
        button {
          outline: none;
          cursor: pointer;
          background: transparent;
          border: solid 2px #ddd;
          border-radius: 4px;
          width: 5em;
          height: 2.2em;
          line-height: 2em;
          position: relative;
          font-size: 1.2rem;
          color: lightcoral;
        }
      }
      .rent {
        padding: 0;
        margin: 0;
        button {
          &:before {
            background: none;
          }
        }
      }
    }

    .swiper-container {
      width: 90%;
      height: 400px;
      margin: 2em auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  aside {
    flex: 1;
    background: #ffffff;
    display: inline-block;
    padding-top: 2.5rem;
    .header {
      text-align: center;
      //width: 90%;
      margin: auto;
      img {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        border: solid 2px lightcoral;
      }
      .name {
        margin: 0.5em auto;
        font-size: 1.5rem;
      }
      .resume {
        display: inline-block;
        margin: auto;
        height:30px;
        width:100%;
        span {
          display: inline-block;
          width:4em;
          margin: 0.2em;
          padding:0.2rem;
          background: rgba(253, 211, 211,0.5);
          border-radius: 15px;
          font-size: 14px;
        }
      }
      .rent-info {
        text-align: left;
        color: #999;
        width:72%;
        margin:1.5em auto;
        padding: 0 0.4em;
        border-left: solid 2px lightcoral;
        li {
          list-style: none;
          padding: 0;
          margin:0.5em 0;
        }
      }
    }
    .card-list{
      ul{
        li{
          list-style: none;
          margin:0;
          text-align: center;
        }
      }
    }
  }
}

#card-detail {
  width: 100%;
  color: #555;
  .card-nav {
    ul {
      li {
        list-style: none;
        display: inline-block;
        margin: 2em;
        color: #000;
      }
    }
  }
  img {
    width: 90%;
    object-fit: cover;
  }
  p {
    width: 88%;
    margin: 2em auto;
    text-indent: 2em;
    letter-spacing: 0.2em;
    text-align: left;
    line-height: 1.5em;;
  }
}