@mixin card{
  .card {
    width: 20%;
    margin:2%;
    height: 340px;
    padding: 1rem;
    //margin: 2em auto;
    background: #fff;
    position: relative;
    border-radius: 4px;
    border:solid 1px transparent;
    &:hover {
      cursor: pointer;
      border:solid 1px #ddd;
      .header {
        img{
          box-shadow: 0 0 20px 1px lightcoral;
        }
      }
    }
    .header{
      img{
        width:2.5em;
        height:2.5em;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 0.5em;
      }
    }
    &>img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      margin: 1em auto;
    }
    .card-footer{
      position: absolute;
      bottom:1em;
      display: flex;
      align-items: center;
      width:100%;
      text-align: left;
      div{
        margin:0.5em;
      }
      .place{
        flex: 1;
        img{
          vertical-align: middle;
        }
      }
      .price{
        flex: 2;
      }
    }

  }
}
body{
  margin-top: 6rem;
}
#more-cards {
  width: 70%;
  margin: auto;
  .main {
    width: 100%;
    margin: auto;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @include card;

  }

  .pagination {
    width: 100%;
    margin: 6em auto;
    ul {
      width: 100%;
      margin: auto;
      padding: 0;
      text-align: center;
      .page-normal {
        display: inline-block;
        list-style: none;
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
        border: solid 1px #ddd;
        vertical-align: middle;
        margin: 0.5em;
        cursor: pointer;
        a {
          display: inline-block;
          width: 100%;
          height: 100%;
        }
        &:hover {
          color: lightcoral;
          border:solid 1px lightcoral;
          transition: ease-in-out 0.5s;
        }
        .page-active {
          color: #fff;
          background: lightcoral;
          transition: ease-in-out 0.5s;
        }
        .page-disable{
          cursor: not-allowed;
          color: #bbb;
          border: dashed 1px #ddd;
          :hover{
            border:none;
          }
        }
      }
    }
  }
}