/*layout==begin*/
html, body {
  width: 100%;
  padding: 0;
  margin: 0; }

body {
  font-family: Arial, 'Microsoft Yahei';
  font-size: 14px;
  overflow-x: hidden;
  background: #EFEEEC;
  color: #333; }

ul li {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

/*layout===end*/
header {
  font-size: 1.2rem;
  top: 0;
  width: 100%;
  line-height: 3em;
  color: lightcoral;
  background: rgba(255, 255, 255, 0);
  transition: all 1s;
  margin: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center; }
  header .logo {
    width: 4em;
    margin-left: -1.1em; }
    header .logo > a {
      border: solid 1px lightcoral;
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      display: inline-block; }
    header .logo > ul {
      display: none;
      width: 4em;
      height: 5em;
      line-height: 2rem;
      font-weight: 500;
      padding: 0; }
      header .logo > ul li {
        text-align: center;
        padding: 0.4em;
        width: 3em;
        height: 1.5em; }
        header .logo > ul li:after {
          content: "";
          position: absolute;
          right: 50%;
          margin-right: -1em;
          margin-top: 1.6em;
          width: 3em;
          height: 2px;
          background: lightcoral;
          transform: scaleX(0);
          transition: all 0.3s; }
        header .logo > ul li:hover:after {
          transform: scaleX(1); }
    header .logo:hover ul {
      display: block; }
  header .nav {
    width: 70%;
    margin: auto;
    padding: 0;
    position: relative;
    transition: all 1s; }
    header .nav .logo {
      display: inline-block; }
    header .nav .user {
      position: absolute;
      right: 0;
      display: inline-block; }
      header .nav .user .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 300; }
        header .nav .user .dropdown-content ul {
          padding: 0; }
      header .nav .user:hover .dropdown-content {
        display: block; }
        header .nav .user:hover .dropdown-content ul {
          padding: 0; }
          header .nav .user:hover .dropdown-content ul li {
            width: 3em;
            height: 1.5em; }

#not-login {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  z-index: 2;
  background: transparent;
  border: none;
  color: lightcoral;
  font-size: 1rem;
  font-weight: 500;
  line-height: 3rem;
  height: 2rem;
  padding: 0;
  margin: 0.5em auto;
  outline: none; }
  #not-login:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 2rem;
    height: 1px;
    background: lightcoral;
    transform: scaleX(0);
    transition: all 0.3s; }
  #not-login:hover:after {
    transform: scaleX(1); }

#logined {
  font-size: 1rem; }
  #logined img {
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    border: solid 2px lightcoral;
    vertical-align: middle; }

footer {
  bottom: 0; }
  footer .web-info {
    background-color: #000;
    text-align: center;
    height: 2em;
    line-height: 2em;
    color: #fff; }
  footer .go-top {
    margin-top: 4rem;
    background: rgba(252, 214, 214, 0.4);
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 48px; }
    footer .go-top:hover {
      background: rgba(253, 211, 211, 0.5);
      cursor: pointer; }

/*# sourceMappingURL=nav.css.map */
