/*layout==begin*/
html, body {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, 'Microsoft Yahei';
  font-size: 14px;
  overflow-x: hidden;
  background: #EFEEEC;
  color: #333;
  //margin-top: 2rem;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*layout===end*/
header {
  font-size: 1.2rem;
  top: 0;
  width: 100%;
  //height:3em;
  line-height: 3em;
  //z-index:2;
  color: lightcoral;
  background: rgba(255, 255, 255, 0);
  transition: all 1s;
  margin: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  .logo {
    //position: absolute;
    width: 4em;
    //height:2.2em;
    //left:50%;
    margin-left: -1.1em;
    > a {
      border: solid 1px lightcoral;
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      display: inline-block;
    }
    > ul {
      display: none;
      width: 4em;
      height: 5em;
      line-height: 2rem;
      font-weight: 500;
      padding: 0;
      li {
        text-align: center;
        padding: 0.4em;
        width: 3em;
        height: 1.5em;
        &:after {
          content: "";
          position: absolute;
          right: 50%;
          margin-right: -1em;
          margin-top: 1.6em;
          width: 3em;
          height: 2px;
          background: lightcoral;
          transform: scaleX(0);
          transition: all 0.3s;
        }
        &:hover:after {
          transform: scaleX(1);
        }
      }
    }
    &:hover {
      ul {
        display: block;
      }
    }
  }
  .nav {
    width: 70%;
    //height:5.2rem;
    margin: auto;
    padding: 0;
    position: relative;

    .logo {
      display: inline-block;
    }
    .user {
      position: absolute;
      right: 0;
      display: inline-block;
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 300;
        ul {
          padding: 0;
          width: 7rem;
          display: block;
          height: 4rem;
          line-height: 2rem;
          font-size: 1rem;
        }
      }
      &:hover {
        .dropdown-content {
          display: block;
          ul {
            padding: 0;
            li {
              //width: 3em;
              //height: 1.5em;
              a {
                //border-bottom: solid 1px lightcoral;
              }
            }
          }
        }
      }
    }
    transition: all 1s;
  }
}

#not-login {
  position: absolute;
  right: 0;
  top:0;
  display: inline-block;
  z-index:2;
  background: transparent;
  border: none;
  color: lightcoral;
  font-size: 1rem;
  font-weight: 500;
  line-height: 3rem;
  height: 2rem;
  padding: 0;
  margin: 0.5em auto;
  outline: none;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 2rem;
    height: 1px;
    background: lightcoral;
    transform: scaleX(0);
    transition: all 0.3s;
  }
  &:hover:after {
    transform: scaleX(1);
  }
}

#logined {
  font-size: 1rem;
  img {
    width: 1.5rem;
    height: 1.5rem;
    //border-radius: 50%;
    border: solid 2px lightcoral;
    vertical-align: middle;
  }
}

footer {
  //position: absolute;
  //width: 100%;
  bottom:0;
  .web-info {
    background-color: #000;
    text-align: center;
    height: 2em;
    line-height: 2em;
    color: #fff;
  }

  .go-top {
    margin-top: 4rem;
    background: rgba(252, 214, 214, 0.4);
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 48px;
    &:hover {
      background: rgba(253, 211, 211, 0.5);
      cursor: pointer;
    }
  }
}
#frm-reset,#frm-forget,#frm-register,#frm-login,#frm-commen{
  text-align: center;
}

  [id$='-tip']{
    text-align: center;
  }
[id^='md-'],#frm-reset,#frm-forget,#frm-register,#frm-login,#frm-commen{
    width: 100%;

  input{
    width: 306px;
    height: 28px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    font-size: 14px;
    color: #666;
    line-height: 28px;
    padding: 6px 0 6px 12px;
    box-shadow: 0 0 5px #fff;
    outline: none;
    transition: box-shadow 0.25s linear 0s;
    -webkit-transition: box-shadow 0.25s linear 0s;
    margin-bottom: 1rem;
  }
  #log-tip, #reg-tip {
    i {
      width: 16px;
      height: 16px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.2em;
      background: url(/icon/tip.png) no-repeat #fff;
    }
    color: #ff3c00;
  }
  #frm-logo{
    color: #9A0000;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    margin:1rem auto;
    border: solid 2px #9A0000;
    border-radius: 50%;
    text-align: center;
    font-size: 1.5rem;
  }
}
#forgetPsw{
  font-size: 0.8rem;
  color: #9A0000;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}
.btn {
  width: 116px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
  cursor: pointer;
}
textarea {
  border: solid 1px #ddd;
  width: 100%;
  height: 100%;
  outline: none;
  resize: none;
  color: #555;
  text-indent: 2em;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  margin: 2em auto;
}
.delete_order {
  color: #999;
  background: #eee;
}
.comment_order {
  background-color: #ffa800;
  color: #fff;
  margin-bottom: 0.5rem;
}
.submit {
  background-color: #9A0000;
  color: #fff;
  margin-bottom: 0.5rem;
  border:none;
}