#newsDetail{
  width: 960px;
  height: 800px;
  margin: 4rem auto;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  .hd {
    padding: 18px 0;
    border-bottom: 1px solid #eee;
    text-align: center;
    strong {
      font-size: 1.7rem;
      color: #444;
      font-weight: normal;
    }
  }
  .news-msg,.news-reply{
    width: 800px;
    margin: 2rem auto;
    .comment-main{
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      margin-top:2rem;
      .comment-hd{
        flex:1;
        overflow: hidden;
        img{
          width:50px;
          height:50px;
          vertical-align: top;
          object-fit: cover;
        }
      }
      .comment-text{
        flex: 8;
        strong{
          color: #9A0000;
        }
        .time{
          margin-top: 0.5rem;
          color: #999;
        }
      }
      .reply{
        background: #F2F2F5;
        padding: 0.3rem;
        margin-top: 0.5rem;
        display: flex;
        flex-flow: row nowrap;
        .rep-hd{
          flex: 1;
          img{
            width:50px;
            height:50px;
            vertical-align: top;
            object-fit: cover;
          }
        }
        .rep-text{
          flex:8;
        }
      }
    }
  }
  #look{
    margin:2rem;
    float: right;
  }
  .order {
    width: 800px;
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
    border-bottom: solid 1px #EDEDED;
    margin: 2rem auto;

    .ord_top {
      flex: 1;
      height: 2rem;
      line-height: 2rem;
      position: relative;
      span {
        margin-right: 2rem;
        i {
          background: url("/icon/connect.png") no-repeat;
          width: 32px;
          height: 30px;
          display: inline-block;
          margin-right: 10px;
          vertical-align: middle;
        }
      }
      .contact {
        font-size: 1rem;
        color: #9A0000;
        font-weight: 700;
        cursor: pointer;
        position: absolute;
        right: 1.5rem;
      }
    }
    .ord_bottom {
      flex: 6;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      dl {
        flex: 3;
        display: inline-block;
        img {
          width: 120px;
          height: 120px;
          object-fit: cover;
        }
        dt, dd {
          display: inline-block;
        }
        dd {
          width: 260px;
          h2 {
            font-size: 1rem;
            font-weight: 600;
          }
          p {
            margin: 0;
            color: #999;
            padding: 2px 0;
          }
        }
        .address {
          i {
            width: 16px;
            height: 16px;
            background: url("/icon/local2.png") no-repeat;
            display: inline-block;
            margin-right: 5px;
            vertical-align: middle;
          }
        }
      }

      .ord_c, .ord_r {
        display: inline-block;
      }
      .ord_c {
        flex: 1;
      }
      .ord_r {
        flex: 1;
      }
    }
  }
  .man {
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border-bottom: solid 1px #ddd;
    [id^='queren'] {
      border-radius: 5px;
      outline: none;
    }
    dt {
      flex: 1;
      img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    dd {
      flex: 4;
    }
    > div {
      flex: 1;
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
    }


    .contact {
      font-size: 1rem;
      color: #9A0000;
      font-weight: 700;
      cursor: pointer;
      flex: 2;
      margin-bottom: 3rem;
      i {
        background: url("/icon/connect.png") no-repeat;
        width: 32px;
        height: 30px;
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
      }
    }
  }
}