.btn-order ~ .md-overlay {
  background: rgba(0, 0, 0, 0.5); }

#modal-order .md-content {
  color: #333;
  background: #fff;
  position: relative;
  border-radius: 3px;
  margin: 0 auto; }
  #modal-order .md-content h3 {
    background: #ff6056;
    color: #fff; }
#modal-order .order-content {
  border-bottom: solid 1px #ddd;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1rem; }
  #modal-order .order-content dl {
    display: flex;
    flex-flow: row nowrap;
    align-items: center; }
    #modal-order .order-content dl img {
      width: 80px;
      height: 80px;
      object-fit: cover; }
    #modal-order .order-content dl dt {
      flex: 1; }
    #modal-order .order-content dl dd {
      flex: 3; }
      #modal-order .order-content dl dd h2 {
        font-size: 1rem;
        font-weight: 600; }
      #modal-order .order-content dl dd p {
        margin: 0;
        color: #999;
        padding: 2px 0; }
    #modal-order .order-content dl .address i {
      width: 16px;
      height: 16px;
      background: url("/icon/local2.png") no-repeat;
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle; }
#modal-order form {
  margin-top: 1rem; }
  #modal-order form small {
    font-size: 0.6rem; }
  #modal-order form button {
    display: inline-block;
    float: right;
    margin-right: 1rem; }
  #modal-order form input {
    width: 176px;
    height: 18px;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    padding: 6px;
    line-height: 18px;
    color: #666;
    transition: box-shadow .25s linear 0s;
    display: inline-block; }
  #modal-order form .md-close {
    background: #ddd; }
  #modal-order form #btn-sendOrder {
    background: #ff6056; }
