@mixin stretchImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  position: relative;
  z-index: -2;
}
@mixin stretchTitle{
  .title {
    width: 100%;
    height: 10em;
    background: #fff;
    .title-big {
      font-size: 1.5rem;
      padding: 0.5em;
    }
    .title-tip {
      color: #333;
      &:hover {
        color: lightcoral;
        cursor: pointer;
      }
    }
    .small-sentence {
      padding: 0.5em;
    }
  }
}
@mixin card{
  .card {
    width: 300px;
    margin:2%;
    height: 420px;
    padding: 1rem;
    //margin: 2em auto;
    background: #fff;
    position: relative;
    border-radius: 4px;
    border:solid 1px transparent;
    &:hover {
      cursor: pointer;
      border:solid 1px #ddd;
      .header {
        img{
          box-shadow: 0 0 20px 1px lightcoral;
        }
      }
    }
    .header{
      img{
        width:2.5em;
        height:2.5em;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 0.5em;
      }
    }
    &>img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      margin: 1em auto;
    }
    .card-footer{
      position: absolute;
      bottom:1em;
      display: flex;
      align-items: center;
      width:100%;
      text-align: left;
      div{
        margin:0.5em;
      }
      .place{
        flex: 1;
        img{
          vertical-align: middle;
        }
      }
      .price{
        flex: 2;
      }
    }

  }
}
@keyframes music {
  0% {
    height: 40px
  }
  25% {
    height: 35px
  }
  50% {
    height: 28px
  }
  75% {
    height: 22px
  }
  100% {
    height: 15px
  }
}



.carousel {
  position: relative;
  height: 700px;
  width: 100%;

  .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2em;
    .swiper-slide-active {
      border: solid 2px lightcoral;
    }
    .swiper-slide {
      width: 100px;
      height: 70px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

}

.gallery-top {
  height: 100%;
  width: 100%;
  .swiper-slide {
    position: relative;
    img {
      width: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
    span, .text {
      position: absolute;
      top: 5rem;
      right: 5rem;
      font-size: 27px;
      font-weight: 900;
      z-index: 200;
    }
    .text {
      top: 10rem;
      right: 5rem;
      z-index: 200;
      font-size: 1.5rem;
      font-weight: normal;
      display: block;
      width: 20em;
    }
  }
}

.swiper-pagination {
  position: absolute;
  bottom: 2em;
}

//type=========begin=============
.type {
  //height: 420px;
  margin:2em auto;
  background-color: #fff;
  width: 70%;
  text-align: center;
  @include stretchTitle;
  .main{
    display: -webkit-flex;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    margin-top:2em;
  }
  .part {
    position: relative;
    width: 18%;
    height: 180px;
    margin: 0.5em ;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.5s;
    }
    p {
      position: relative;
      height: 100%;
      text-align: center;
      top: -50%;
      color: #fff;
      margin-top: -0.1em;
      font-size: 30px;
      font-weight: 800;
      opacity: 0;
      transition: all 0.5s;
    }
    &:hover img {
      opacity: 0.8;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      cursor: pointer;
    }
    &:hover p {
      opacity: 1;
      -webkit-transform: translate(0, -1.5em);
      -moz-transform: translate(0, -1.5em);
      -ms-transform: translate(0, -1.5em);
      -o-transform: translate(0, -1.5em);
      transform: translate(0, -1.5em);
      cursor: pointer;
    }
  }

}

//sentence====================
.sentence {
  height: 320px;
  width: 100%;
  position: relative;
  .sentence-bg {
    @include stretchImg;
  }
  p {
    position: absolute;
    top: 4em;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-size: 32px;
    .author {
      display: block;
    }
  }
  figure {
    img {
      width: 90px;
      height: 90px;
      object-fit: cover;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      margin-left: -45px;
      top: 2em;
    }
  }
}

.popular,.articles{
  width: 70%;
  margin: 6em auto;
  text-align: center;
  @include stretchTitle;
  .main {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
   @include card;
  }
}

.music {
  position: relative;
  height: 320px;
  width: 100%;
  .music-bg {
    @include stretchImg;
  }
  audio {

  }
  .music-control {
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin-left: -32px;
    &:hover {
      cursor: pointer;
    }
  }
}

//play and pause controls
#play {
  display: none;
}

#pause {
  display: block;
}

//music animation
#music-ani {
  position: absolute;
  top: 60%;
  left: 50%;
  margin-left: -22px;
  display: inline-flex;
  flex-flow: nowrap;

}

[id^="ani"] {
  width: 4px;
  height: 15px;
  margin-right: 4px;
  background: #FFF;
  transition: all 1s;
}

#ani1 {
  animation: music 1s infinite;
}

#ani2 {
  animation: music 1s 0.2s infinite;
}

#ani3 {
  animation: music 1s 0.4s infinite;
}

#ani4 {
  animation: music 1s 0.6s infinite;
}

#ani5 {
  animation: music 1s 0.8s infinite;
}

#ani6 {
  animation: music 1s 1s infinite;
}

.articles {
  .article-main {
    margin: 6em auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    background:rgba(0,0,0,.2);
    position: relative;
    color: #fff;

    >img{
      width:100%;
      height:100%;
      object-fit: cover;
      position: absolute;
      top:0;
      z-index:-1;
    }
    .article-more{
      width:35%;
      font-size: 6rem;
      font-family: "Angsana New";
      margin-top: 15%;
      text-align: center;
      .more{
        font-size:3rem;
        width:8rem;
        height:3.5rem;
        margin-left: 50%;
        position: relative;
        left:-4rem;
        line-height: 3.5rem;
        border:solid 1px #fff;
      }
    }
    .article-list{
      width:65%;
    }
    article {
      display: -webkit-flex; /* Safari */
      height: 12em;
      width: 90%;
      margin: auto;
      border-bottom: solid 1px #ddd;
      min-width: 200px;
      .article-left {
        //padding: 1.5em;
        width: 20%;
        img {
          height: 100px;
          width: 100px;
          position: relative;
          top:-50px;
          margin-top: 50%;
          border-radius: 50%;
          object-fit: cover;
          vertical-align: middle;
        }
      }
      .article-right {
        padding: 1.5em;
        width: 65%;
        text-align: left;
        &:hover {
          cursor: pointer;
          h1 {
            color: lightcoral;
          }
        }

        div {
          //text-indent: 2em;
          //height: 50%;
          //width: 100%;
          white-space:nowrap;
          overflow: hidden;
          text-overflow:ellipsis;

        }
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  body {
    //width:960px;
  }
  .carousel{
    height:700px;
  }
}
@media screen and (max-width: 1366px) {
  body {
    //width:960px;
  }
  .carousel{
    height:420px;
  }
  .card{
    width:180px;
    height: 280px;
  }
}


