@keyframes music {
  0% {
    height: 40px; }
  25% {
    height: 35px; }
  50% {
    height: 28px; }
  75% {
    height: 22px; }
  100% {
    height: 15px; } }
html, body {
  width: 100%;
  padding: 0;
  margin: 0; }

body {
  font-family: Arial, 'Microsoft Yahei';
  font-size: 14px;
  overflow-x: hidden;
  background: #EFEEEC;
  color: #333; }

header {
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  width: 100%;
  color: lightcoral;
  background: rgba(255, 255, 255, 0.2);
  z-index: 100;
  transition: all 1s;
  box-shadow: #999 0 1px 2px; }
  header .nav {
    width: 70%;
    margin: 0 auto;
    padding: 0; }
    header .nav a {
      text-decoration: none;
      color: inherit; }
    header .nav .logo {
      display: inline-block; }
    header .nav ul {
      display: inline-block; }
      header .nav ul li {
        display: inline-block;
        border-bottom: none;
        position: relative;
        margin-right: 2em; }
        header .nav ul li:after {
          content: "";
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 100%;
          height: 2px;
          background: lightcoral;
          transform: scaleX(0);
          transition: all 0.1s; }
        header .nav ul li:hover:after {
          transform: scaleX(1); }

.carousel {
  position: relative;
  height: 700px;
  width: 100%; }
  .carousel .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2em; }
    .carousel .gallery-thumbs .swiper-slide-active {
      border: solid 2px lightcoral; }
    .carousel .gallery-thumbs .swiper-slide {
      width: 100px;
      height: 70px; }
      .carousel .gallery-thumbs .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

.gallery-top {
  height: 100%;
  width: 100%; }
  .gallery-top .swiper-slide {
    position: relative; }
    .gallery-top .swiper-slide img {
      width: 100%;
      object-fit: cover;
      object-position: 50% 50%; }
    .gallery-top .swiper-slide span, .gallery-top .swiper-slide .text {
      position: absolute;
      top: 5rem;
      right: 5rem;
      font-size: 27px;
      font-weight: 900;
      z-index: 200; }
    .gallery-top .swiper-slide .text {
      top: 10rem;
      right: 5rem;
      z-index: 200;
      font-size: 1.5rem;
      font-weight: normal;
      display: block;
      width: 20em; }

.swiper-pagination {
  position: absolute;
  bottom: 2em; }

.type {
  margin: 2em auto;
  background-color: #fff;
  width: 70%;
  text-align: center; }
  .type .title {
    width: 100%;
    height: 10em;
    background: #fff; }
    .type .title .title-big {
      font-size: 1.5rem;
      padding: 0.5em; }
    .type .title .title-tip {
      color: #333; }
      .type .title .title-tip:hover {
        color: lightcoral;
        cursor: pointer; }
    .type .title .small-sentence {
      padding: 0.5em; }
  .type .main {
    display: -webkit-flex;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    margin-top: 2em; }
  .type .part {
    position: relative;
    width: 18%;
    height: 180px;
    margin: 0.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden; }
    .type .part img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.5s; }
    .type .part p {
      position: relative;
      height: 100%;
      text-align: center;
      top: -50%;
      color: #fff;
      margin-top: -0.1em;
      font-size: 30px;
      font-weight: 800;
      opacity: 0;
      transition: all 0.5s; }
    .type .part:hover img {
      opacity: 0.8;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      cursor: pointer; }
    .type .part:hover p {
      opacity: 1;
      -webkit-transform: translate(0, -1.5em);
      -moz-transform: translate(0, -1.5em);
      -ms-transform: translate(0, -1.5em);
      -o-transform: translate(0, -1.5em);
      transform: translate(0, -1.5em);
      cursor: pointer; }

.sentence {
  height: 320px;
  width: 100%;
  position: relative; }
  .sentence .sentence-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    position: relative;
    z-index: -2; }
  .sentence p {
    position: absolute;
    top: 4em;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-size: 32px; }
    .sentence p .author {
      display: block; }
  .sentence figure img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -45px;
    top: 2em; }

.popular, .articles {
  width: 70%;
  margin: 6em auto;
  text-align: center; }
  .popular .title, .articles .title {
    width: 100%;
    height: 10em;
    background: #fff; }
    .popular .title .title-big, .articles .title .title-big {
      font-size: 1.5rem;
      padding: 0.5em; }
    .popular .title .title-tip, .articles .title .title-tip {
      color: #333; }
      .popular .title .title-tip:hover, .articles .title .title-tip:hover {
        color: lightcoral;
        cursor: pointer; }
    .popular .title .small-sentence, .articles .title .small-sentence {
      padding: 0.5em; }
  .popular .main, .articles .main {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
    .popular .main .card, .articles .main .card {
      width: 320px;
      height: 420px;
      padding: 1.5rem;
      margin-top: 2em;
      background: #fff; }
      .popular .main .card img, .articles .main .card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin: 2em auto; }
      .popular .main .card p, .articles .main .card p {
        padding: 2em; }

.music {
  position: relative;
  height: 320px;
  width: 100%; }
  .music .music-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    position: relative;
    z-index: -2; }
  .music .music-control {
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin-left: -32px; }
    .music .music-control:hover {
      cursor: pointer; }

#play {
  display: none; }

#pause {
  display: block; }

#music-ani {
  position: absolute;
  top: 60%;
  left: 50%;
  margin-left: -22px;
  display: inline-flex;
  flex-flow: nowrap; }

[id^="ani"] {
  width: 4px;
  height: 15px;
  margin-right: 4px;
  background: #FFF;
  transition: all 1s; }

#ani1 {
  animation: music 1s infinite; }

#ani2 {
  animation: music 1s 0.2s infinite; }

#ani3 {
  animation: music 1s 0.4s infinite; }

#ani4 {
  animation: music 1s 0.6s infinite; }

#ani5 {
  animation: music 1s 0.8s infinite; }

#ani6 {
  animation: music 1s 1s infinite; }

.articles .article-main {
  margin: 6em auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; }
  .articles .article-main article {
    display: -webkit-flex;
    /* Safari */
    background: #fff;
    height: 16em;
    width: 45%;
    margin: 2em auto;
    min-width: 200px; }
    .articles .article-main article .article-left {
      padding: 1.5em;
      width: 35%; }
      .articles .article-main article .article-left img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
    .articles .article-main article .article-right {
      padding: 1.5em;
      width: 65%; }
      .articles .article-main article .article-right:hover {
        cursor: pointer; }
        .articles .article-main article .article-right:hover h1 {
          color: lightcoral; }
      .articles .article-main article .article-right section {
        text-indent: 2em;
        height: 50%;
        overflow: hidden; }

footer {
  margin-top: 4rem;
  background: #000;
  text-align: center;
  height: 2em;
  line-height: 2em;
  color: #fff; }

/*# sourceMappingURL=style.css.map */
