#my {
  width: 960px;
  margin: auto; }
  #my .top {
    background: #fff;
    margin-top: 60px;
    position: relative;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap; }
    #my .top .header, #my .top .tab {
      flex: 1; }
    #my .top .header {
      display: -webkit-flex;
      display: flex;
      flex-flow: row nowrap; }
      #my .top .header .img-header {
        flex: 2;
        position: relative;
        top: -20%; }
        #my .top .header .img-header img {
          position: relative;
          top: -20%;
          left: 10%;
          width: 8rem;
          height: 8rem;
          border: solid 8px #fff;
          border-radius: 8px;
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); }
      #my .top .header #name {
        flex: 4; }
      #my .top .header .setting {
        flex: 1;
        border-radius: 2px;
        padding: 0 0.8rem;
        height: 2rem;
        line-height: 2rem;
        background: linear-gradient(#FAFAFA, #F2F2F2);
        border: 1px solid #D9D9D9;
        cursor: pointer;
        text-decoration: none;
        color: #444;
        white-space: nowrap;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        text-align: center;
        position: relative;
        top: 1.5rem;
        right: 0.5rem; }
  #my .tab {
    border-top: solid 1px #EDEDED; }
    #my .tab ul {
      padding: 0; }
      #my .tab ul li {
        display: inline-block;
        width: 6rem;
        height: 2rem;
        text-align: center;
        line-height: 2rem;
        color: #777;
        border-right: solid 1px #EDEDED; }
        #my .tab ul li:hover {
          color: #9A0000;
          cursor: pointer; }
      #my .tab ul .active {
        color: #000;
        font-weight: 900; }
  #my .main {
    margin-top: 4rem;
    background: #fff;
    min-height: 500px;
    width: 100%;
    padding: 4rem 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); }
    #my .main #order-list {
      width: 100%;
      min-height: 500px;
      display: flex;
      flex-flow: row nowrap; }
      #my .main #order-list .order-menu {
        flex: 1;
        border-right: solid 1px #9A0000;
        min-height: 500px; }
        #my .main #order-list .order-menu ul {
          padding: 0; }
          #my .main #order-list .order-menu ul li {
            color: #777;
            position: relative;
            right: -1.2em;
            height: 4em;
            line-height: 4em;
            cursor: pointer; }
            #my .main #order-list .order-menu ul li .icon {
              display: inline-block;
              font-size: 1em;
              width: 2em;
              height: 2em;
              vertical-align: middle;
              fill: currentColor;
              overflow: hidden;
              background: #fff; }
          #my .main #order-list .order-menu ul .active {
            color: #9A0000;
            font-weight: 900; }
      #my .main #order-list .order-main {
        flex: 9;
        padding-left: 4rem; }
        #my .main #order-list .order-main .order_nav_ul {
          padding: 30px 50px;
          border-bottom: solid 1px #dadada; }
          #my .main #order-list .order-main .order_nav_ul li {
            display: inline-block;
            font-size: 1rem;
            font-weight: 500;
            margin-right: 10px;
            padding: 0 20px;
            color: #444;
            height: 36px;
            line-height: 36px;
            border-radius: 5px;
            cursor: pointer; }
            #my .main #order-list .order-main .order_nav_ul li a {
              width: 100%;
              height: 100%;
              display: inline-block; }
          #my .main #order-list .order-main .order_nav_ul .on {
            background: #9A0000;
            color: #fff; }
        #my .main #order-list .order-main .order {
          width: 800px;
          height: 200px;
          display: flex;
          flex-flow: column nowrap;
          border-bottom: solid 1px #EDEDED;
          margin: 2rem auto; }
          #my .main #order-list .order-main .order .ord_top {
            flex: 1;
            height: 2rem;
            line-height: 2rem; }
            #my .main #order-list .order-main .order .ord_top span {
              margin-right: 2rem; }
              #my .main #order-list .order-main .order .ord_top span i {
                background: url("/icon/connect.png") no-repeat;
                width: 32px;
                height: 30px;
                display: inline-block;
                margin-right: 10px;
                vertical-align: middle; }
            #my .main #order-list .order-main .order .ord_top .contact {
              font-size: 1rem;
              color: #9A0000;
              font-weight: 700;
              cursor: pointer; }
          #my .main #order-list .order-main .order .ord_bottom {
            flex: 6;
            display: flex;
            flex-flow: row nowrap;
            align-items: center; }
            #my .main #order-list .order-main .order .ord_bottom dl {
              flex: 3;
              display: inline-block; }
              #my .main #order-list .order-main .order .ord_bottom dl img {
                width: 120px;
                height: 120px; }
              #my .main #order-list .order-main .order .ord_bottom dl dt, #my .main #order-list .order-main .order .ord_bottom dl dd {
                display: inline-block; }
              #my .main #order-list .order-main .order .ord_bottom dl dd {
                width: 260px; }
                #my .main #order-list .order-main .order .ord_bottom dl dd h2 {
                  font-size: 1rem;
                  font-weight: 600; }
                #my .main #order-list .order-main .order .ord_bottom dl dd p {
                  margin: 0;
                  color: #999;
                  padding: 2px 0; }
              #my .main #order-list .order-main .order .ord_bottom dl .address i {
                width: 16px;
                height: 16px;
                background: url("/icon/local2.png") no-repeat;
                display: inline-block;
                margin-right: 5px;
                vertical-align: middle; }
            #my .main #order-list .order-main .order .ord_bottom .ord_c, #my .main #order-list .order-main .order .ord_bottom .ord_r {
              display: inline-block; }
            #my .main #order-list .order-main .order .ord_bottom .ord_c {
              flex: 1; }
            #my .main #order-list .order-main .order .ord_bottom .ord_r {
              flex: 1; }
              #my .main #order-list .order-main .order .ord_bottom .ord_r .money {
                color: #9A0000; }
                #my .main #order-list .order-main .order .ord_bottom .ord_r .money b {
                  font-weight: 700;
                  font-size: larger; }
              #my .main #order-list .order-main .order .ord_bottom .ord_r .btn {
                width: 116px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                border-radius: 5px;
                display: inline-block;
                margin-top: 10px; }
              #my .main #order-list .order-main .order .ord_bottom .ord_r .delete_order {
                color: #999;
                background: #eee; }
              #my .main #order-list .order-main .order .ord_bottom .ord_r .comment_order {
                background-color: #ffa800;
                color: #fff; }

/*# sourceMappingURL=my.css.map */
