body {

}

#my {
  width: 960px;
  margin: auto;
  .top {
    background: #fff;

    margin-top: 60px;
    position: relative;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
    .header, .tab {
      flex: 1;
    }
    .header {
      display: -webkit-flex;
      display: flex;
      flex-flow: row nowrap;
      .img-header {
        flex: 2;
        position: relative;
        top: -20%;
        //left:20%;
        img {
          position: relative;
          top: -5%;
          left: 10%;
          width: 8rem;
          height: 8rem;
          border: solid 8px #fff;
          border-radius: 8px;
          box-shadow: 0 0 4px rgba(0, 0, 0, .2);
        }
      }
      #name {
        flex: 4;
      }
      .setting {
        flex: 1;
        border-radius: 2px;
        padding: 0 0.8rem;
        height: 2rem;
        line-height: 2rem;
        background: linear-gradient(#FAFAFA, #F2F2F2);
        border: 1px solid #D9D9D9;
        cursor: pointer;
        text-decoration: none;
        color: #444;
        white-space: nowrap;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
        text-align: center;
        position: relative;
        top: 1.5rem;
        right: 0.5rem;
      }
    }
  }

  .tab {
    border-top: solid 1px #EDEDED;
    ul {
      padding: 0;
      li {
        display: inline-block;
        width: 6rem;
        height: 2rem;
        text-align: center;
        line-height: 2rem;
        color: #777;
        border-right: solid 1px #EDEDED;
        &:hover {
          color: #9A0000;
          cursor: pointer;
        }
      }
      .active {
        color: #000;
        font-weight: 900;
      }
    }
  }

  .main {
    margin-top: 4rem;
    background: #fff;
    min-height: 500px;
    width: 100%;
    padding:4rem 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    #order-list {
      width: 100%;
      min-height: 500px;
      display: flex;

      flex-flow: row nowrap;
      .order-menu {
        flex: 1;
        border-right: solid 1px #9A0000;
        min-height: 500px;

        ul {
          padding: 0;
          li {
            color: #777;
            position: relative;
            right:-1.2em;
            height:4em;
            line-height: 4em;
            cursor: pointer;
            .icon {
              display: inline-block;
              font-size: 1em;
              width: 2em;
              height: 2em;
              vertical-align: middle;
              fill: currentColor;
              overflow: hidden;
              background: #fff;
              //border:solid 1px #9A0000;
              //border-radius: 50%;
            }
          }
          .active{
            color: #9A0000;
            font-weight: 900;
          }
        }
      }
      .order-main {
        flex: 9;
        padding-left: 4rem;
        .order_nav_ul{
          padding: 30px 50px;
          border-bottom:solid 1px #dadada;
          li{
            display: inline-block;
            font-size: 1rem;
            font-weight: 500;
            margin-right: 10px;
            padding: 0 20px;
            color: #444;
            height: 36px;
            line-height: 36px;
            border-radius: 5px;
            cursor: pointer;
            a{
              width: 100%;
              height:100%;
              display: inline-block;
            }
          }
          .on{
            background: #9A0000;
            color: #fff;
          }
        }
        .order{
          width:800px;
          height:200px;
          display: flex;
          flex-flow: column nowrap;
          border-bottom: solid 1px #EDEDED;
          margin: 2rem auto;
          .ord_top{
            flex:1;
            height:2rem;
            line-height:2rem;
            position: relative;
            span{
              margin-right: 2rem;
              i{
                background: url("/icon/connect.png") no-repeat;
                width:32px;
                height:30px;
                display: inline-block;
                margin-right: 10px;
                vertical-align: middle;
              }
            }
            .contact{
              font-size: 1rem;
              color: #9A0000;
              font-weight: 700;
              cursor: pointer;
              position: absolute;
              right:1.5rem;
            }
          }
          .ord_bottom{
            flex:6;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            dl{
              flex: 3;
              display: inline-block;
              img{
                width:120px;
                height:120px;
              }
              dt,dd{
                display: inline-block;
              }
              dd{
                width:260px;
                h2{
                  font-size: 1rem;
                  font-weight: 600;
                }
                p{
                  margin:0;
                  color: #999;
                  padding: 2px 0;
                }
              }
              .address{
                i{
                  width: 16px;
                  height:16px;
                  background: url("/icon/local2.png") no-repeat;
                  display: inline-block;
                  margin-right: 5px;
                  vertical-align: middle;
                }
              }
            }

            .ord_c,.ord_r{
                display: inline-block;
            }
            .ord_c{
              flex:1;
            }
            .ord_r{
              flex:1;
              .money{
                color: #9A0000;
                b{
                  font-weight: 700;
                  //font-style: italic;
                  font-size: larger;
                }
              }
              .btn{
                width: 116px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                border-radius: 5px;
                display: inline-block;
                margin-top: 10px;
              }
              .delete_order{
                color:#999;
                background: #eee;
              }
              .comment_order{
                background-color: #ffa800;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}